/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body, html {
	height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
*:focus {
    outline: none;
}
svg,
object{
  width: 100%;
}
svg {
  pointer-events: none;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
}
span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
i {
  font-style: italic;
}
b, strong{
  font-weight: bold;
}
.o-map button {
	background-color: #fff;
  border: none;
	color: #000;
	cursor: pointer;
}
.o-map button:focus {
	outline: none;
}
.o-control {
		background-color: #fff;
		color: #000;
		position: absolute;
		z-index: 10;
}
.o-control-active svg{
	fill: #007AFF;
}
.o-btn-2 {
		height: 2rem;
		width: 2rem;
}
.o-btn-3 {
		height: 3rem;
		width: 3rem;
}
.o-rounded-top {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.o-padding-horizontal-8 {
	padding: 0 .5rem;
}
@supports ((background: linear-gradient(90deg, black, white)) or
					 (background: -webkit-linear-gradient(90deg, black, white))) {
	.o-grid {
		background-color: #fff;
		background-image: linear-gradient(rgba(0,0,0,.3) 1px, transparent 1px),
		linear-gradient(90deg, rgba(0,0,0,.3) 1px, transparent 1px),
		linear-gradient(rgba(0,0,0,.2) 1px, transparent 1px),
		linear-gradient(90deg, rgba(0,0,0,.2) 1px, transparent 1px);
		background-size:140px 140px, 140px 140px, 20px 20px, 20px 20px;
		background-position:-1px -1px, -1px -1px, -1px -1px, -1px -1px;
	}
}
#o-no-map {
  display: none;
}
.o-no-canvas #o-no-map {
  background-color: #EEEEEE;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 100000;
}
.o-no-canvas #o-no-map .o-no-map-message {
  margin: auto;
  position: relative;
  text-align: center;
  top: 50%;
  /*vertical-align: middle;*/
}
/*openlayers style*/
.ol-unsupported {
  display: none;
}
.ol-viewport .ol-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ol-control {
  position: absolute;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.45);
  box-shadow: 0 2px 5px rgba(0,0,0,0.45);
}
.no-boxshadow .ol-control {
  border: 1px solid #C5C5C5;
}
.ol-control:hover {
  background-color: rgba(255,255,255,0.6);
}
.ol-zoom {
  top: .5em;
  left: .5em;
}
/*.ol-full-screen {
  left: .5em;
  top: 7.5em;
}*/
.ol-rotate {
  top: 12.5em;
  left: .5em;
  transition: opacity .25s;
}
.ol-rotate.ol-hidden {
  opacity: 0;
}
@media print {
  .ol-zoom,
  .ol-full-screen {
    display: none;
  }
}
.ol-control button {
  border-radius: 4px;
	cursor: pointer;
  display: block;
  padding: 0;
  color: #424242;
  color: rgba(66,66,66,1.0);
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  height: 2em;
  width: 2em;
  background-color: white;
  border: none;
}
.ol-control button::-moz-focus-inner {
  border: none;
  padding: 0;
}
.ol-control button:hover {
  color: #EEEEEE;
  text-decoration: none;
  background-color: #424242;
}
button.ol-zoom-in {
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #C5C5C5 !important;
}
button.ol-zoom-out {
  border-radius: 0 0 4px 4px;
}
.ol-control.ol-rotate button {
  border-radius: 0;
  background-color: transparent;
}
.ol-rotate.ol-control {
  background-color: transparent;
  box-shadow: none;
}
.ol-compass {
  background: url('../img/kompass.svg') left center no-repeat;
  background-size: 2em;
  display: block;
  font-family: Arial;
  font-weight: normal;
  height: 2em;
  width: 2em;
}
.ol-scale-line, .ol-scale-line:not([ie8andbelow]) {
  background: #ffffff;
  background: rgba(255,255,255,0.7);
  border-radius: 4px;
  bottom: .5em;
  right: .5em;
  padding: 2px;
  position: absolute;
}
.ol-scale-line-inner {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #424242;
  border-top: none;
  color: #424242;
  font-size: 10px;
  text-align: center;
  margin: 1px;
  padding: 0px 2px;
}
/* invisible but not hidden */
.ol-has-tooltip [role=tooltip] {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* < IE8 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  font-weight: normal;
  font-size: 14px;
  text-shadow: 0 0 2px #fff;
}
.ol-attribution {
  text-align: right;
  bottom: .5em;
  padding: .35em 0;
  position: absolute;
  right: .5em;
  max-width: calc(100% - 3.5em);
  z-index: 2;
}
.ol-attribution ul {
  margin: 0;
  padding: 0 .5em;
  font-size: .7rem;
  line-height: 1.375em;
  color: #fff;
  max-width: 60%;
}
.ol-attribution li {
  display: inline;
  list-style: none;
  line-height: inherit;
}
.ol-attribution li a{
  color:#bbb;
}
.ol-attribution li:not(:last-child):after {
  content: " ";
}
.ol-attribution ul, .ol-attribution button {
  display: inline;
}
.ol-attribution:not(.ol-collapsed) button:hover [role=tooltip],
.ol-attribution.ol-collapsed ul {
  display: none;
}
.ol-attribution.ol-logo-only ul {
  display: block;
}
.ol-attribution:not(.ol-collapsed) {
  background: transparent;
}
.ol-control.ol-attribution:not(.ol-collapsed) {
  box-shadow: none;
}
.ol-attribution:not(.ol-collapsed) button {
  background: transparent;
  color: #000;
}
.ol-attribution:not(.ol-collapsed) button:hover {
  background: #424242;
  color: #fff;
}
.ol-attribution.ol-collapsed button {
  background: rgba(0,0,0,0.8);
  border-radius: 15px;
  color: #fff;
  height: 1.5em;
  width: 1.5em;
}
.ol-attribution.ol-uncollapsible {
  bottom: 0;
  right: 0;
  border-radius: 4px 0 0;
  height: 1.1em;
  line-height: 1em;
}
.ol-attribution.ol-logo-only {
  background: transparent;
  bottom: .4em;
  height: 1.1em;
  line-height: 1em;
}
.ol-attribution.ol-uncollapsible img {
  margin-top: -.2em;
  max-height: 1.6em;
}
.ol-attribution.ol-logo-only button,
.ol-attribution.ol-uncollapsible button {
  display: none;
}

/*workaround to remove ol logo until class for the logo*/
.ol-attribution img {
  display: none;
}
.ol-box {
  box-sizing: border-box;
  border-radius: 2px;
  border: 2px solid blue;
}
.ol-dragzoom {
  border-color: #007AFF;
  border-width: 3px;
  background-color: rgba(255,255,255,0.4);
}
/*end openlayers style*/

/*owl-carousel*/
/*
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	height: calc(100% - 130px);
	overflow: hidden;
	position: relative;
	width: 100%;
}
#o-sidebar .owl-carousel .owl-wrapper-outer {
	overflow-y: auto;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
/*
* 	Owl Carousel Owl Demo Theme
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: .3125em;
	padding: .3125em;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: rgba(0,0,0,0.15);
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	background: rgba(0,0,0,0.3);
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: rgba(0,0,0,0.5);
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}
/*
 *  Owl Carousel CSS3 Transitions
 *  v1.3.2
 */

.owl-origin {
	-webkit-perspective: 1200px;
	-webkit-perspective-origin-x : 50%;
	-webkit-perspective-origin-y : 50%;
	-moz-perspective : 1200px;
	-moz-perspective-origin-x : 50%;
	-moz-perspective-origin-y : 50%;
	perspective : 1200px;
}
/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}
.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}
/*end owl-carousel*/

#app-wrapper {
	height: 100%;
	overflow: hidden;
	position: relative;
}
.o-map-container,
#o-wrapper {
	height: 100%;
	overflow: hidden;
	position: relative;
}
#o-map {
	height:100%;
}
#o-bottom-tools {
  bottom: 1.7em;
  height: auto;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
#o-footer {
  background-color: black;
  background-color: rgba(0,0,0,0.8);
  color: white;
  font-size: 0.7em;
  height: 2.5em;
  line-height: 2em;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
#o-footer a {
  color: white;
  text-decoration: none;
}
#o-footer a:hover {
  color: white;
  text-decoration: underline;
}
#o-footer .o-footer-left {
  float: left;
  position: relative;
  width: 30%;
}
#o-footer .o-footer-middle {
  float: left;
  position: relative;
  text-align: center;
  width: 40%;
}
#o-footer .o-footer-middle .o-logo {
  padding: 0.25em 0;
}
#o-footer .o-footer-middle img {
  height: 2em;
  padding-right: 5px;
}
#o-footer .o-footer-middle .o-logo span{
  vertical-align: top;
}
#o-footer .o-footer-right {
  position: relative;
  float: left;
  width: 30%;
}
#o-footer .o-footer-left {
  position: relative;
  float: left;
  padding-left: .5em;
  padding-top: 3px;
  width: 30%;
}
#o-footer .o-footer-right .o-footer-attribution {
  position: relative;
  float: right;
  padding-right: 5px;
  text-align: right;
}
#o-footer .o-footer-middle ul{
  display: inline-block;
  padding-left:0;
}
#o-footer .o-footer-middle ul li{
  border-right: 1px solid #ffffff;
  float: left;
  padding: 0 6px;
}
#o-footer .o-footer-middle ul li:last-child{
  border-right: none;
  padding-right:0;
}
.o-button-container {
  display: inline-block;
  position: absolute;
}
.o-button {
  display: inline-block;
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.45);
  box-shadow: 0 2px 5px rgba(0,0,0,0.45);
}
.o-no-boxshadow {
  box-shadow: none;
}
.o-button:hover {
  background-color: rgba(255,255,255,0.6);
}
button.o-button {
  border-radius: 4px;
	cursor: pointer;
  display: inline-block;
  padding: 0;
  color: #424242;
  color: rgba(66,66,66,1.0);
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  height: 2em;
  width: 2em;
  line-height: 1em;
  background-color: white;
  border: none;
}
button.o-button:hover,
button.o-button:focus {
  color: #EEEEEE;
  text-decoration: none;
  background-color: #424242;
}
.o-button span.o-button-text {
	height: 2em;
	left: 0;
	line-height: 1em;
	padding-left: 0.625em;
	position: absolute;
	top: .5em;
}
.o-button.o-mapmenu-button-false span.o-button-text {
	display: none;
}
/*Tooltip arrow*/
.o-tooltip span[data-tooltip] {
  border: 4px solid rgb(255, 255, 255);
  height: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.2s 1s ease;
  -moz-transition: opacity 0.2s 1s ease;
  -ms-transition: opacity 0.2s 1s ease;
  transition: opacity 0.2s 1s ease;
  visibility: hidden;  /*display:non can't be used with transition*/
  width: 0;
}
.o-tooltip:hover span[data-tooltip] {
  display: block;
  opacity: 1;
  visibility: visible;
}
.o-tooltip:hover span[data-tooltip]:after {
  background:rgba(51,51,51,0.85);
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border-width: 10px;
  color:#fff;
  content: attr(data-tooltip);
  font-size: 0.7em;
  margin-left: 4px; /*same as border width */
  padding:5px 10px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width:auto;
  z-index:10;
}
.o-tooltip:hover span[data-tooltip][data-placement="east"] {
  border-color: transparent rgba(51,51,51,0.85) transparent transparent;
  right: -10px;
  top: 35%;
}
.o-tooltip:hover span[data-tooltip][data-placement="east"]:after {
  margin-top: -11px;
}
.o-tooltip span[data-tooltip][data-placement="west"] {
  border-color: transparent transparent transparent rgba(51,51,51,0.85);
  left: -10px;
  top: 35%;
}
.o-tooltip:hover span[data-tooltip][data-placement="west"]:after {
  right: 4px; /*same as border width */
  margin-top: -11px; /*vertical align to arrow*/
}
.o-tooltip span[data-tooltip][data-placement="northwest"] {
  border-color: rgba(51,51,51,0.85) transparent transparent transparent;
  top: -10px;
  left: 14px;
}
.o-tooltip:hover span[data-tooltip][data-placement="northwest"]:after {
  margin-top: -25px; /*same as span top*/
  margin-left: -10px;
}
.o-tooltip span[data-tooltip][data-placement="north"] {
  border-color: rgba(51,51,51,0.85) transparent transparent transparent;
  top: -10px;
  left: 50%;
}
.o-tooltip:hover span[data-tooltip][data-placement="north"]:after {
  margin-top: -25px; /*same as span top*/
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
#o-mapmenu-button {
  right: .5em;
  top: .5em;
  z-index: 5;
}
#o-mapmenu-button button.o-button:hover .o-icon-fa-bars{
	fill: #fff;
}
#o-mapmenu-button button.o-button {
	padding-right: 0;
	width: 5.3125em;
}
#o-mapmenu-button-close {
		position: absolute;
		right: .5em;
		top: .5rem;
}
#o-home-button {
  left: .5em;
  top: 5em;
  z-index: 1;
}
#o-geolocation-button {
  left: .5em;
  top: 7.5em;
  z-index: 1;
}
.o-toolbar,
#o-editor-toolbar {
		bottom: 0;
		left: 50%;
		-webkit-box-shadow: 0 2px 8px 1px rgba(0,0,0,0.45);
	  box-shadow: 0 2px 8px 1px rgba(0,0,0,0.45);
		/*-webkit-transform-style: preserve-3d;
	  -moz-transform-style: preserve-3d;
	  transform-style: preserve-3d;		*/
		-ms-transform: translate(-50%, 0);
	  -webkit-transform: translate(-50%, 0);
	  transform: translate(-50%, 0);
}
/*remove the boxshadow when selected*/
.o-button.o-mapmenu-button-true {
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.45);
  box-shadow: 0 2px 5px rgba(0,0,0,0.45);
}
.o-button.o-mapmenu-button-false {
  background-color: rgba(255,255,255,0.5);
  box-shadow: none;
}
#o-mapmenu-button .o-button.o-mapmenu-button-false {
	width: 2em;
}
.o-no-boxshadow #o-mapmenu-button .o-button {
  border: none;
}
.o-no-boxshadow .o-button.o-mapmenu-button-true {
  border: 1px solid #C5C5C5;
}
/**/
#o-window-button {
  left: .5em;
  top: 10em;
  z-index: 5;
}
button.o-window-button:after {
  font-size: 1.2em;
  content: "\f065";
  line-height: 1.2em;
  vertical-align: middle;
}
button.o-home-button:after {
  font-size: 1.3em;
  content: "\f015";
  line-height: 1.2em;
}
#o-mapmenu {
  background-color: #fff;
  border-radius: 1px; /*workaround for box-shadow bug in ios*/
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.45);
	box-shadow: 0 0 5px rgba(0,0,0,0.45);
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	position: absolute;
	right: -230px;
	top: 0px;
	width: 230px;
	z-index: 20;
	-ms-transform: translateX(0);
	-webkit-transform: translateX(0);
	transform: translateX(0);
	-ms-transition: .3s ease all;
	-webkit-transition: .3s ease all;
	transition: .3s ease all;
}
.o-touch #o-mapmenu{
  overflow-y: auto;
  overflow-x: hidden;
}
.o-no-boxshadow #o-mapmenu {
  border-left: 1px solid #C5C5C5;
}
#o-sidebar.o-sidebar-show {
	-ms-transform: translateX(-270px);
	-webkit-transform: translateX(-270px);
	transform: translateX(-270px);
}
#o-mapmenu.o-mapmenu-show {
	-ms-transform: translateX(-230px);
	-webkit-transform: translateX(-230px);
	transform: translateX(-230px);
}
.o-no-csstransforms #o-mapmenu.o-mapmenu-show {
  right: 0;
}
li {
	/*border-bottom: 1px solid #C5C5C5;*/
}
#o-menutools li:first-child {
	height: 2.8em;
}
.o-mapmenu-open {
	display: inline-block;
}
.o-mapmenu-false {
	display: none;
}
li .o-menu-button {
  cursor: pointer;
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 0.9em;
  line-height: 1.5em;
  padding: 0 5px;
  text-decoration: none;
  text-align: left;
  width: 100%;
  height: 1.5em;
  border: none;
  vertical-align: middle;
}
li .o-menu-button:hover {
  background-color: #EEEEEE;
}
.o-menu-button .o-button-icon {
  display: inline;
  float: left;
	height: 1.5em;
  padding: 0 4px;
	vertical-align: middle;
	width: 1.5em;
/*  width: 1.375em; */
}
.o-hidden {
  display: none;
}
/*sidebar control*/
#o-sidebar {
  background-color: #FFF;
  background-color: rgba(255,255,255,1);
  border-radius: 1px; /*workaround for box-shadow bug in ios*/
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.45);
  box-shadow: 0 0 5px rgba(0,0,0,0.45);
	font-size: 0.875em;
  height: 100%;
  line-height: 1.42857143;
  position: absolute;
  right: -270px;
  top: 0px;
  width: 270px;
  z-index: 30;
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -ms-transition: .1s ease all;
  -webkit-transition: .1s ease all;
  transition: .1s ease all;
}
/*end sidebar*/
/*modal widget*/
#o-modal {
  font-size: 1em;
  line-height: 1.42857143;
}
.o-modal-screen {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 90;
}
.o-modal {
  background-color: white;
  border-radius: 6px;
	bottom: auto;
  -webkit-box-shadow: 0 2px 8px 1px rgba(0,0,0,0.45);
  box-shadow: 0 2px 8px 1px rgba(0,0,0,0.45);
  font-family: Arial,sans-serif;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
	right: auto;
	top: 50%;
	-webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 300px;
  z-index: 100;
}
.o-no-csstransforms .o-modal {
  margin-left: -150px;
  margin-top: -50px;
}
.o-modal-title {
  background-color: #F7F7F7;
  border-bottom: 1px solid #EBEBEB;
  border-radius: 6px 6px 0 0;
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
}
.o-modal-content {
  font-size: 0.9em;
  line-height: 1.1em;
	max-height: calc(100vh - 100px);
  padding: 10px 15px;
	overflow-y: auto;
}
.o-modal-content .o-share-link {
  padding: 10px 5px;
}
.o-modal-footer {

}
.o-modal label {
  font-weight: bold;
  font-size: 1em;
  line-height: 1.5em;
}
.o-modal input {
  border: 2px solid #ddd;
  border-radius: 3px;
  font-size: 1em;
  line-height: 1.5em;
}
.o-modal input[type=text] {
  width: 95%;
}
.o-modal input[type=button] {
  background-color: #FF3B30;
  border: 1px solid #FF3B30;
  color: #fff;
  width: 8em;
}
.o-modal input[type=checkbox] {
  color: #fff;
  vertical-align: middle;
  width: 1em;
}
.o-modal textarea {
  border: 2px solid #ddd;
  border-radius: 3px;
  font-size: 1em;
  line-height: 1.5em;
  width: 92%;
}
.o-modal select {
  border-radius: 3px;
  font-size: 1em;
  line-height: 1.5em;
  width: 95%;
}
.o-modal .o-form-save {
  margin: 0;
  left: 50%;
  -ms-transform: translate(50%,0);
  -webkit-transform: translate(50%,0);
  transform: translate(50%,0);
  width: 50%;
}
.o-modal .o-form-checkbox {
  margin: 5px 0;
}

/*popup widget*/
#o-popup {
  font-size: 0.875em;
  line-height: 1.42857143;
  position: absolute;
  width: 270px;
}
#o-identify-carousel,
#o-identify {
	height: 100%;
}
.o-popup a:active,
.o-popover a:hover {
  outline: 0;
}
.o-sidebar a,
.o-popup a {
  color: #428bca;
  text-decoration: none;
}
.o-sidebar a:hover,
.o-sidebar a:focus,
.o-popup a:hover,
.o-popup a:focus {
  color: #2a6496;
  text-decoration: underline;
}
.o-popup {
  position: absolute;
  display: none;
  bottom: 12px;
  left: -50%;
  width: 100%;
  z-index: 1010;
  padding: 1px;
  text-align: left;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
}
.o-popup:before, .o-popup:after {
  display: block;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.o-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
  bottom: -20px;
}
.o-popup:before {
  border-top-color: #999999;
  border-width: 11px;
  left: 50%;
  margin-left: -11px;
  bottom: -22px;
}
.o-sidebar-title,
.o-popup-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.o-sidebar-content,
.o-popup-content {
  padding: 9px 14px;
  width: 90%;
}
.o-sidebar,
.o-sidebar-content {
	height: 100%;
}
#o-sidebar .o-header1,
#o-popup .o-header1 {
  font-weight: bold;
  font-size: 1.2em;
}
/*.sidebar .image-container,
.popup .image-container{
  margin-bottom: 10px;
  margin-left: -14px;
  margin-right: -14px;
  margin-top: -9px;
  position: relative;
}*/
.o-sidebar .o-image-container img,
.o-popup .o-image-container img{
  vertical-align: top;
  width: 100%;
}
.o-sidebar .o-image-attribution,
.o-popup .o-image-attribution{
  background-color: rgba(0,0,0,0.5);
  box-sizing: border-box;
  color: rgb(220,220,220);
  text-align: right;
  font-size: 0.7em;
  font-style: italic;
  height: 15px;
  line-height: 15px;
  padding-right: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/*generic close button*/
.o-close-button {
	height: 2.429em;
	float: right;
  width: 2.429em;
}
.o-close-button:hover {
  cursor: pointer;
}
/*share map module*/
.o-share-link input[type=text] {
  border: 1px solid #B3B3B3;
  color:#007AFF;
  margin: 0 -8px;
  padding: 5px;
  width: 100%;
}
#o-map-legend {
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.45);
  box-shadow: 0 0 5px rgba(0,0,0,0.45);
  left: .5em;
  bottom: 2.2em;
  padding: 0 5px 5px 5px;
  position: absolute;
  z-index: 1;
}
li .o-legend-header {
  border-bottom: 1px solid #C5C5C5;
}
li .o-legend-subheader {
  border-bottom: none;  
}
.o-legend-group li:last-child {
  border-bottom: 1px solid #C5C5C5;
}
.o-legend-subgroup li:last-child {
  border-bottom: none;  
}
ul.o-legendlist:first-child {
  border-top: 1px solid #C5C5C5;
}
ul.o-legendlist > li:last-child .o-legend-group li:last-child,
ul.o-legendlist > li:last-child .o-legend-subgroup li:last-child {
  border-bottom: none;
}
li .o-legend-header:hover {
  background-color: #EEEEEE;
}
li .o-icon-expand {
  display: inline;
  float: right;
  padding: 0 4px;
  height: 1.1em;
  width: 1.1em;
}
li .o-subicon-expand {
  display: inline;
  float: right;
  padding: 0;
}
.o-legend-subitem .o-subicon-expand {
  padding-top: 3px;
}
.o-ul-expand-false .o-legend {
  display: none;
}
ul .o-legend-indent {
	padding-left: 1.2em;
}
li .o-legend-item {
  cursor: pointer;
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 14px;
  padding: 5px;
}
li .o-legend-item:hover {
  background-color: #EEEEEE;
}
li .o-legend-item-title {
  cursor: pointer;
  display: inline-block;
  padding-top: 3px;
  padding-left: 1px;
  vertical-align: top;
}
li .o-legend-item-img {
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 20px;
  width: 20px;
}
li .o-legend-subitem {
  cursor: pointer;
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 14px;
  padding: 5px 5px 5px 24px;
}
li .o-legend-subitem-title {
  cursor: pointer;
  display: inline-block;
  padding-top: 3px;
  padding-left: 1px;
  vertical-align: top;
}
.o-legendlist li .o-legend-item-info {
  cursor: pointer;
  display: inline-block;
  float: right;
  height: 20px;
  width:20px;
}
.o-checkbox {
  display: inline;
  float: left;
  height: 1.1em;
  padding: 0 4px;
  padding-top: 3px;
  width: 1.1em;
/*  width: 1.375em; */
}
.o-checkbox-semi {
	opacity: .4;
}
.o-legend-subheader .o-checkbox {
	padding-top: 0;
} 
#o-map-legend .o-legend-item {
  padding-left: 0;
}
#o-map-legend-background li {
  display: inline;
}
#o-map-legend-background .o-legend-item {
  display: inline;
  float: left;
  padding: 3px;
}
#o-map-legend-background .o-check-true-img .o-legend-item-img{
  border: 1px solid #424242;
}
#o-map-legend-background li .o-legend-item.check-true-img {
  background-color: #C5C5C5;
}
#o-map-legend-background .o-check-false-img .o-legend-item-img{
  border: 1px solid #A6A6A6;
}
#o-legend-overlay,
#o-map-legend-background {
  padding-top: 3px;
}
#o-overlay-list li:last-child{
  border-bottom: 1px solid #C5C5C5;
  margin: 0 -5px 0 -5px;
  padding: 0 5px 5px 5px;
}
#o-legend-overlay .o-toggle-button {
  height: 1.2em;
  padding: 0 4px;
  padding-top: 2px;
  width: 1.2em;
}
#o-legend-overlay .o-toggle-button:hover {
  color: #636363;
  cursor: pointer;
}
.o-menu-item-divider {
  /*border-bottom: 1px solid #C5C5C5;*/
  margin: 0.5em 0em;
}
.o-menu-item-empty {
  margin: 0.8em 0;
}
#o-search-wrapper {
  /*background-color: transparent;*/
  background-color: #fff;
  border: 1px solid #878786;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.45);
  box-shadow: 0 2px 5px rgba(0,0,0,0.45);
	height: 2.5em;
  margin: 0 0 0 -155px;
  position: absolute;
  top: .5em;
  left: 50%;
  width: 310px;
  z-index: 10;
}
.o-search-field {
  border: none;
  border-radius: 4px;
  font-size: 1.25em;
	height: 1em;
  overflow: hidden;
  padding: .5em;
  padding-right: 0;
/*  position: relative;
  float: left;*/
  width: 260px;
}
input.o-search-field:focus {
  outline: none;
}
input.o-search-field::-ms-clear {
    display: none;
}
#o-search-button-close,
#o-search-button {
  background-color: transparent;
  color: #424242;
	font-size: 1em;
  position: relative;
  float: right;
  height: 2.5em;
  outline: none;
  width: 2.5em;
  padding: .25em;
}
#o-search-button.o-search-true:hover {
  color: black;
}
.twitter-typeahead .tt-input,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}
.tt-hint {
    display: block;
    color: #999;
    vertical-align: middle;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-menu {
    min-width: 308px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    font-size: .9em;
    text-align: left;
}
.tt-suggestion {
    display: block;
    padding: 3px 10px;
}
.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #dfdfdf;
}
.tt-suggestion.tt-cursor a {
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
}
/*End search module*/
.o-more-button {
  background-color: #38A800;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  width: calc(100% - 10px);
}
.o-modal li {
  /*cursor: pointer;*/
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 14px;
  padding: 3px 5px;
  margin-left: -15px;
  margin-right: -15px;
}
#o-querylist li {
  padding: 5px;
}
#o-querylist li:first-child {
  /*background-color: #F7F7F7;*/
  border-bottom: 1px solid #C5C5C5;
  border-top: 1px solid #C5C5C5;
  font-weight: bold;
}
#o-querylist li {
  border-bottom: 1px solid #C5C5C5;
}
#o-querylist li:last-child {
  border-bottom: none;
}
.o-query-item {
  display: inline-block;
}
#o-querylist {
  padding-top: 10px;
}
#o-querylist a:active,
#o-querylist a:hover {
  outline: 0;
}
#o-querylist a {
  color: #428bca;
  text-decoration: none;
}
#o-querylist a:hover,
#o-querylist a:focus {
  color: #2a6496;
  text-decoration: underline;
}
[class^="o-icon-"],
[class*=" o-icon-"] {
	background: rgba(0,0,0,0);
  padding: .35em;
  height: 1.3em;
  width: 1.3em;
  float: right;
  fill: #424242;
}
[class^="o-icon-"],
[class*=" o-icon-"] {
  fill: #424242;
  padding: .375rem;
  height: 1.25rem;
  width: 1.25rem;
}
.ol-control>button:hover [class^="o-icon-"],
.ol-control>button:hover [class*=" o-icon-"],
.o-button:hover [class^="o-icon-"],
.o-button:hover [class*="o-icon-"] {
	fill: #fff;
}
.o-toolbar button:hover [class^="o-icon-"],
.o-toolbar button:hover [class*="o-icon-"] {
	fill: #007AFF;
}
#o-editor-toolbar button {
	float: left;
	position: relative;
}
#o-editor-toolbar select {
	border: 1px solid rgba(0, 0, 0, 0.4);
	float: left;
	height: 2rem;
	line-height: 2rem;
	margin-top: .5rem;
	margin-right: .5rem;
	vertical-align: middle;
	width: 150px;
}
.o-icon-fa-location-arrow {
	padding: 0.45em;
	height: 1.1em;
	width: 1.1em;
}
.o-geolocation-button-true .o-icon-fa-location-arrow {
	fill: #007AFF;
}
.o-icon-fa-chevron-down,
.o-icon-fa-chevron-right {
	height: .9em;
	padding: .1em;
	width: .9em;
}
.o-icon-fa-check {
	height: 1em;
	padding: 0.05em;
	width: 1em;
}
.o-icon-fa-square-o,
.o-icon-fa-check-square-o {
	height: 1em;
	padding: 0.1em;
	width: 1em;
}
.o-icon-fa-info-circle {
  height: 1.2em;
  padding: 0;
  width: 1.2em;
  fill: #424242;
}
.o-icon-fa-bars {
	padding: .4em;
  height: 1.2em;
  width: 1.2em;
}
.o-icon-fa-plus,
.o-icon-fa-minus {
	padding: .65em;
	height: .7em;
	width: .7em;
}
#o-editor-button .o-icon-fa-pencil,
.o-icon-fa-print,
.o-icon-fa-share-square-o {
	padding: 0.25em;
	height: 1em;
	width: 1em;
}
.o-icon-fa-times {
	padding: .65em;
	height: 1.129em;
	width: 1.129em;
}
.o-icon-menu-fa-times {
	padding: .5rem;
	height: 1rem;
	width: 1rem;
}
.o-icon-search-fa-times {
	padding: .5em;
	height: 1em;
	width: 1em;
}
.o-icon-fa-info-circle {
	padding: .25em;
	height: 1em;
	width: 1em;
}
.o-legend-header .o-icon-fa-info-circle {
	padding: 0;
	height: 1em;
	width: 1em;
}
#o-editor-toolbar .o-icon-fa-times {
	height: 1rem;
	padding: 0;
	width: 1rem;
}
.o-icon-fa-angle-double-down,
.o-icon-fa-angle-double-up {
	padding: .05em;
	height: 1em;
	width: 1em;
}
.o-icon-fa-angle-double-right,
.ol-collapsed .o-icon-fa-info {
	fill: #fff;
	height: .9em;
	padding: .3em;
	width: .9em;
}
.owl-prev .o-icon-fa-chevron-left,
.owl-next .o-icon-fa-chevron-right {
	fill: #424242;
	height: 1em;
	padding: .3em;
	width: 1em;
}
.ol-collapsed .o-icon-fa-angle-double-right,
.ol-attribution:not(.ol-collapsed) .o-icon-fa-info,
.o-toggle-button-max .o-icon-fa-angle-double-up,
.o-toggle-button-min .o-icon-fa-angle-double-down,
.o-checkbox-true .o-icon-fa-square-o,
.o-checkbox-false .o-icon-fa-check-square-o,
.o-check-false .o-icon-fa-check,
.o-icon-expand-false .o-icon-fa-chevron-down,
.o-icon-expand-true .o-icon-fa-chevron-right,
.o-subicon-expand-false .o-icon-fa-chevron-down,
.o-subicon-expand-true .o-icon-fa-chevron-right,
.o-search-true #o-search-button,
.o-search-false #o-search-button-close {
	display: none
}
/* measure module */
#o-measure-button {
  left: .5em;
  top: 10em;
}
#o-measure-line-button {
  left: 3em;
  top: 10em;
}
#o-measure-polygon-button {
  left: 5.5em;
  top: 10em;
}
.o-icon-minicons-square-vector {
  padding: .3em;
  height: 1.4em;
  width: 1.4em;
}
.o-icon-minicons-line-vector {
  padding: .3em;
  height: 1.4em;
  width: 1.4em;
}
.o-measure-button-true .o-icon-fa-pencil,
.o-measure-button-true .o-icon-steady-measure,
.o-measure-button-true .o-icon-minicons-square-vector,
.o-measure-button-true .o-icon-minicons-line-vector {
  fill: #007AFF;
}
.o-tooltip-measure {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  white-space: nowrap;
  opacity: 0.8;
  font: 80% normal, sans-serif;
  pointer-events: none;
}
@media screen and (max-width: 768px) {
.ol-scale-line, .ol-scale-line-inner {
  display: none;
}
.ol-attribution {
  max-width: calc(100% - 3.5em);
  padding: 0;
}
.ol-attribution ul {
  color: #000;
}
.ol-control.ol-attribution:not(.ol-collapsed) {
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.45);
  box-shadow: 0 0 5px rgba(0,0,0,0.45);
}
.ol-control.ol-attribution.ol-collapsed {
  background-color: transparent;
  box-shadow: none;
}
.ol-attribution:not(.ol-collapsed) {
  background: rgba(255,255,255,0.9);
}
.ol-attribution:not(.ol-collapsed) button {
  background: transparent;
  color: #000;
}
.ol-attribution.ol-collapsed button {
  background: rgba(0,0,0,0.8);
  border-radius: 15px;
  color: #fff;
  height: 1.5em;
  width: 1.5em;
}
#o-map-legend {
  bottom: .5em;
}
#o-search-wrapper {
	border: none;
	height: 2em;
	left: auto;
	margin: 0;
  right: 3em;
	max-width: calc(100% - 3.5em);
	width: auto;
	z-index: 1;
}
.o-search-field {
	-webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
	width: 100px;
	border: none;
	font-size: 1em;
	height: 1em;
  padding-right: 0;
}
.o-search-field.tt-hint {
	width: 100%;
}
.o-search-field.tt-input:focus {
	width: 258px;
}
.tt-menu {
	max-width: calc(258px + 2em);
}
#o-search-button-close,
#o-search-button {
	height: 2em;
	padding: 0;
	width: 2em;
}
.o-icon-fa-search {
	padding: .5em;
	height: 1em;
	width: 1em;
}
.o-icon-search-fa-times {
	padding: .6em;
	height: .8em;
	width: .8em;
}
#o-mapmenu-button button.o-button {
	width: 2em;
}
#o-mapmenu-button .o-button-text {
	display: none;
}
#o-bottom-tools {
  bottom: 0;
}
.o-modal {
  max-width: 300px;
  width: 90%;
}
#o-footer {
  display: none;
}
}
@media screen and (max-width: 500px) {
#o-map-legend {
  display: none;
}
.ol-zoom {
  top: auto;
	bottom: 8em;
}
#o-home-button {
	bottom: 5.5em;
	top: auto;
}
.ol-rotate {
  bottom: 12.5em;
	top: auto;
}
#o-geolocation-button {
	bottom: 3em;
	top: auto;
}
#o-window-button {
	bottom: 12.5em;
	top: auto;
}
#o-measure-button, #o-measure-line-button,
  #o-measure-polygon-button  {
    bottom: .5em;
    top: auto;
  }
}
@media screen and (max-width: 320px) {
#o-sidebar,
#o-mapmenu {
  width: 100%;
  right: -320px;
}
#o-sidebar.o-sidebar-show,
#o-mapmenu.o-mapmenu-show {
  -ms-transform: translateX(-320px);
  -webkit-transform: translateX(-320px);
  transform: translateX(-320px);
}
#o-popup {
  width: 240px;
}
span.twitter-typeahead {
	max-width: calc(100% - 40px);
}
.tt-menu {
	min-width: calc(100% + 40px);
	max-width: auto;
}
}
@media screen and (max-width: 240px) {
#o-popup {
  width: 200px;
}
}
