.fade-in {
  animation: 0.3s fade-in ease;
}

.fade-out {
  animation: 0.3s fade-out ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
