// standard margin
.margin {
  margin: $margin-standard;
}
.margin-top {
  margin-top: $margin-standard;
}
.margin-right {
  margin-right: $margin-standard;
}
.margin-bottom {
  margin-bottom: $margin-standard;
}
.margin-left {
  margin-left: $margin-standard;
}
.margin-x {
  margin-left: $margin-standard;
  margin-right: $margin-standard;
}
.margin-y {
  margin-bottom: $margin-standard;
  margin-top: $margin-standard;
}
.margin-x-auto {
  margin-left: auto;
  margin-right: auto;
}
.margin-y-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.margin-top-auto {
  margin-top: auto;
}
.margin-bottom-auto {
  margin-bottom: auto;
}
.margin-left-auto {
  margin-left: auto;
}
.margin-right-auto {
  margin-right: auto;
}

// large margin
.margin-large {
  margin: $margin-large;
}
.margin-top-large {
  margin-top: $margin-large;
}
.margin-right-large {
  margin-right: $margin-large;
}
.margin-bottom-large {
  margin-bottom: $margin-large;
}
.margin-left-large {
  margin-left: $margin-large;
}
.margin-x-large {
  margin-left: $margin-large;
  margin-right: $margin-large;
}
.margin-y-large {
  margin-bottom: $margin-large;
  margin-top: $margin-large;
}

// small margin
.margin-small {
  margin: $margin-small;
}
.margin-top-small {
  margin-top: $margin-small;
}
.margin-right-small {
  margin-right: $margin-small;
}
.margin-bottom-small {
  margin-bottom: $margin-small;
}
.margin-left-small {
  margin-left: $margin-small;
}
.margin-x-small {
  margin-left: $margin-small;
  margin-right: $margin-small;
}
.margin-y-small {
  margin-bottom: $margin-small;
  margin-top: $margin-small;
}

// smaller margin
.margin-smaller {
  margin: $margin-smaller;
}
.margin-top-smaller {
  margin-top: $margin-smaller;
}
.margin-right-smaller {
  margin-right: $margin-smaller;
}
.margin-bottom-smaller {
  margin-bottom: $margin-smaller;
}
.margin-left-smaller {
  margin-left: $margin-smaller;
}
.margin-x-smaller {
  margin-left: $margin-smaller;
  margin-right: $margin-smaller;
}
.margin-y-smaller {
  margin-bottom: $margin-smaller;
  margin-top: $margin-smaller;
}

// smallest margin
.margin-smallest {
  margin: $margin-smallest;
}
.margin-top-smallest {
  margin-top: $margin-smallest;
}
.margin-right-smallest {
  margin-right: $margin-smallest;
}
.margin-bottom-smallest {
  margin-bottom: $margin-smallest;
}
.margin-left-smallest {
  margin-left: $margin-smallest;
}
.margin-x-smallest {
  margin-left: $margin-smallest;
  margin-right: $margin-smallest;
}
.margin-y-smallest {
  margin-bottom: $margin-smallest;
  margin-top: $margin-smallest;
}
