@use '../variables';

// standard padding
.padding {
  padding: variables.$padding-standard;
}

.padding-top {
  padding-top: variables.$padding-standard;
}

.padding-right {
  padding-right: variables.$padding-standard;
}

.padding-bottom {
  padding-bottom: variables.$padding-standard;
}

.padding-left {
  padding-left: variables.$padding-standard;
}

.padding-x {
  padding-left: variables.$padding-standard;
  padding-right: variables.$padding-standard;
}

.padding-y {
  padding-bottom: variables.$padding-standard;
  padding-top: variables.$padding-standard;
}

// large padding
.padding-large {
  padding: variables.$padding-large;
}

.padding-top-large {
  padding-top: variables.$padding-large;
}

.padding-right-large {
  padding-right: variables.$padding-large;
}

.padding-bottom-large {
  padding-bottom: variables.$padding-large;
}

.padding-left-large {
  padding-left: variables.$padding-large;
}

.padding-x-large {
  padding-left: variables.$padding-large;
  padding-right: variables.$padding-large;
}

.padding-y-large {
  padding-bottom: variables.$padding-large;
  padding-top: variables.$padding-large;
}

// larger padding
.padding-larger {
  padding: variables.$padding-larger;
}

.padding-top-larger {
  padding-top: variables.$padding-larger;
}

.padding-right-larger {
  padding-right: variables.$padding-larger;
}

.padding-bottom-larger {
  padding-bottom: variables.$padding-larger;
}

.padding-left-larger {
  padding-left: variables.$padding-larger;
}

.padding-x-larger {
  padding-left: variables.$padding-larger;
  padding-right: variables.$padding-larger;
}

.padding-y-larger {
  padding-bottom: variables.$padding-larger;
  padding-top: variables.$padding-larger;
}

// small padding
.padding-small {
  padding: variables.$padding-small;
}

.padding-top-small {
  padding-top: variables.$padding-small;
}

.padding-right-small {
  padding-right: variables.$padding-small;
}

.padding-bottom-small {
  padding-bottom: variables.$padding-small;
}

.padding-left-small {
  padding-left: variables.$padding-small;
}

.padding-x-small {
  padding-left: variables.$padding-small;
  padding-right: variables.$padding-small;
}

.padding-y-small {
  padding-bottom: variables.$padding-small;
  padding-top: variables.$padding-small;
}

// smaller padding
.padding-smaller {
  padding: variables.$padding-smaller;
}

.padding-top-smaller {
  padding-top: variables.$padding-smaller;
}

.padding-right-smaller {
  padding-right: variables.$padding-smaller;
}

.padding-bottom-smaller {
  padding-bottom: variables.$padding-smaller;
}

.padding-left-smaller {
  padding-left: variables.$padding-smaller;
}

.padding-x-smaller {
  padding-left: variables.$padding-smaller;
  padding-right: variables.$padding-smaller;
}

.padding-y-smaller {
  padding-bottom: variables.$padding-smaller;
  padding-top: variables.$padding-smaller;
}

// smallest padding
.padding-smallest {
  padding: variables.$padding-smallest;
}

.padding-top-smallest {
  padding-top: variables.$padding-smallest;
}

.padding-right-smallest {
  padding-right: variables.$padding-smallest;
}

.padding-bottom-smallest {
  padding-bottom: variables.$padding-smallest;
}

.padding-left-smallest {
  padding-left: variables.$padding-smallest;
}

.padding-x-smallest {
  padding-left: variables.$padding-smallest;
  padding-right: variables.$padding-smallest;
}

.padding-y-smallest {
  padding-bottom: variables.$padding-smallest;
  padding-top: variables.$padding-smallest;
}

// no padding
.padding-0 {
  padding: 0;
}
