// standard padding
.padding {
  padding: $padding-standard;
}

.padding-top {
  padding-top: $padding-standard;
}

.padding-right {
  padding-right: $padding-standard;
}

.padding-bottom {
  padding-bottom: $padding-standard;
}

.padding-left {
  padding-left: $padding-standard;
}

.padding-x {
  padding-left: $padding-standard;
  padding-right: $padding-standard;
}

.padding-y {
  padding-bottom: $padding-standard;
  padding-top: $padding-standard;
}

// large padding
.padding-large {
  padding: $padding-large;
}

.padding-top-large {
  padding-top: $padding-large;
}

.padding-right-large {
  padding-right: $padding-large;
}

.padding-bottom-large {
  padding-bottom: $padding-large;
}

.padding-left-large {
  padding-left: $padding-large;
}

.padding-x-large {
  padding-left: $padding-large;
  padding-right: $padding-large;
}

.padding-y-large {
  padding-bottom: $padding-large;
  padding-top: $padding-large;
}

// small padding
.padding-small {
  padding: $padding-small;
}

.padding-top-small {
  padding-top: $padding-small;
}

.padding-right-small {
  padding-right: $padding-small;
}

.padding-bottom-small {
  padding-bottom: $padding-small;
}

.padding-left-small {
  padding-left: $padding-small;
}

.padding-x-small {
  padding-left: $padding-small;
  padding-right: $padding-small;
}

.padding-y-small {
  padding-bottom: $padding-small;
  padding-top: $padding-small;
}

// smaller padding
.padding-smaller {
  padding: $padding-smaller;
}

.padding-top-smaller {
  padding-top: $padding-smaller;
}

.padding-right-smaller {
  padding-right: $padding-smaller;
}

.padding-bottom-smaller {
  padding-bottom: $padding-smaller;
}

.padding-left-smaller {
  padding-left: $padding-smaller;
}

.padding-x-smaller {
  padding-left: $padding-smaller;
  padding-right: $padding-smaller;
}

.padding-y-smaller {
  padding-bottom: $padding-smaller;
  padding-top: $padding-smaller;
}

// smallest padding
.padding-smallest {
  padding: $padding-smallest;
}

.padding-top-smallest {
  padding-top: $padding-smallest;
}

.padding-right-smallest {
  padding-right: $padding-smallest;
}

.padding-bottom-smallest {
  padding-bottom: $padding-smallest;
}

.padding-left-smallest {
  padding-left: $padding-smallest;
}

.padding-x-smallest {
  padding-left: $padding-smallest;
  padding-right: $padding-smallest;
}

.padding-y-smallest {
  padding-bottom: $padding-smallest;
  padding-top: $padding-smallest;
}

// no padding
.padding-0 {
  padding: 0;
}
