@use '../variables';
@use '../utils/mixins';

.full {
  height: variables.$size-full;
  width: variables.$size-full;
}

.width-full {
  width: variables.$size-full;
}

.height-full {
  height: variables.$size-full;
}

.no-margin {
  &.full {
    height: variables.$size-100;
    width: variables.$size-100;
  }

  &.height-full {
    height: variables.$size-100;
  }

  &.width-full {
    width: variables.$size-100;
  }
}

.height-100[style] {
  height: 100% !important;
}

.width-100[style] {
  width: 100% !important;
}

.width-88[style] {
  width: 88% !important;
}

.height-125 {
  height: 1.25rem;
}

.width-4 {
  @include mixins.absolute-width(variables.$base-size, 4);
}

.width-8 {
  @include mixins.absolute-width(variables.$base-size, 8);
}

.width-12 {
  @include mixins.absolute-width(variables.$base-size, 12);
}

.width-16 {
  @include mixins.absolute-width(variables.$base-size, 16);
}

.width-20 {
  @include mixins.absolute-width(variables.$base-size, 20);
}

.width-24 {
  @include mixins.absolute-width(variables.$base-size, 24);
}

.width-28 {
  @include mixins.absolute-width(variables.$base-size, 28);
}

.width-32 {
  @include mixins.absolute-width(variables.$base-size, 32);
}

.width-36 {
  @include mixins.absolute-width(variables.$base-size, 36);
}

.width-40 {
  @include mixins.absolute-width(variables.$base-size, 40);
}

.width-44 {
  @include mixins.absolute-width(variables.$base-size, 44);
}

.width-48 {
  @include mixins.absolute-width(variables.$base-size, 48);
}

.width-52 {
  @include mixins.absolute-width(variables.$base-size, 52);
}

.width-56 {
  @include mixins.absolute-width(variables.$base-size, 56);
}

.width-60 {
  @include mixins.absolute-width(variables.$base-size, 60);
}

.width-64 {
  @include mixins.absolute-width(variables.$base-size, 64);
}
