@use '../variables';

$text-black: variables.$black;
$text-grey-dark: variables.$grey-darker;
$text-grey: variables.$grey;
$text-grey-light: variables.$grey-light;
$text-grey-ligthter: variables.$grey-lighter;
$text-smallest: variables.$font-size-smallest;
$text-smaller: variables.$font-size-smaller;
$text-small: variables.$font-size-small;
$text-normal: variables.$font-size-normal;
$text-large: variables.$font-size-large;
$text-weight-light: variables.$font-weight-light;
$text-weight-normal: variables.$font-weight-normal;
$text-weight-semibold: variables.$font-weight-semibold;
$text-weight-bold: variables.$font-weight-bold;
$text-height-large: variables.$line-height-large * variables.$font-size-base;
$text-height-normal: variables.$line-height-base * variables.$font-size-base;
$text-height-small: variables.$line-height-small * variables.$font-size-base;
$text-height-smaller: variables.$line-height-smaller * variables.$font-size-base;
$text-height-smallest: variables.$line-height-smallest * variables.$font-size-base;
$text-fade-width: 4rem;
$text-fade-background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);

// font color
.text-primary {
  color: variables.$primary-text-color;
}

.text-inverse {
  color: variables.$primary-text-color-inverse;
}

.text-black {
  color: $text-black;
}

.text-white {
  color: variables.$white;
}

.text-grey-dark {
  color: $text-grey-dark;
}

.text-grey {
  color: $text-grey;
}

.text-grey-light {
  color: $text-grey-light;
}

.text-grey-lighter {
  color: $text-grey-ligthter;
}

.text-red {
  color: variables.$red;
}

.text-orange {
  color: variables.$orange;
}

.text-yellow {
  color: variables.$yellow;
}

.text-green {
  color: variables.$green;
}

.text-blue {
  color: variables.$blue;
}

.text-purple {
  color: variables.$purple;
}

.text-pink {
  color: variables.$pink;
}

// font size
.text-smallest {
  font-size: $text-smallest;
  line-height: $text-height-smallest;
}

.text-smaller {
  font-size: $text-smaller;
  line-height: $text-height-smaller;
}

.text-small {
  font-size: $text-small;
  line-height: $text-height-small;
}

.text-normal {
  font-size: $text-normal;
  line-height: $text-height-normal;
}

.text-large {
  font-size: $text-large;
  line-height: $text-height-large;
}

// align
.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-justify {
  text-align: justify;
}

// float
.float-left {
  float: left;
}

.float-right {
  float: right;
}

// font weight
.text-weight-light {
  font-weight: $text-weight-light;
}

.text-weight-normal {
  font-weight: $text-weight-normal;
}

.text-weight-semibold {
  font-weight: $text-weight-semibold;
}

.text-weight-bold {
  font-weight: $text-weight-bold;
}

// text fade
.text-fade::after {
  background: $text-fade-background;
  bottom: 0;
  content: '';
  height: $text-height-normal;
  position: absolute;
  right: 0;
  text-align: right;
  width: 4rem;
}

// line-height
.text-height-large {
  line-height: $text-height-large;

  &.text-fade::after {
    height: $text-height-large;
  }
}

.text-height-normal {
  line-height: $text-height-normal;

  &.text-fade::after {
    height: $text-height-normal;
  }
}

.text-height-small {
  line-height: $text-height-small;

  &.text-fade::after {
    height: $text-height-small;
  }
}

.text-height-smaller {
  line-height: $text-height-smaller;

  &.text-fade::after {
    height: $text-height-smaller;
  }
}

.text-height-smallest {
  line-height: $text-height-smallest;

  &.text-fade::after {
    height: $text-height-smallest;
  }
}

.break-word {
  word-wrap: break-word;
}
