$text-black: $black;
$text-grey-dark: $grey-darker;
$text-grey: $grey;
$text-grey-light: $grey-light;
$text-grey-ligthter: $grey-lighter;
$text-smallest: $font-size-smallest;
$text-smaller: $font-size-smaller;
$text-small: $font-size-small;
$text-normal: $font-size-normal;
$text-large: $font-size-large;
$text-weight-light: $font-weight-light;
$text-weight-normal: $font-weight-normal;
$text-weight-semibold: $font-weight-semibold;
$text-weight-bold: $font-weight-bold;
$text-height-large: $line-height-large * $font-size-base;
$text-height-normal: $line-height-base * $font-size-base;
$text-height-small: $line-height-small * $font-size-base;
$text-height-smaller: $line-height-smaller * $font-size-base;
$text-height-smallest: $line-height-smallest * $font-size-base;
$text-fade-width: 4rem;
$text-fade-background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);

// font color
.text-primary {
  color: $primary-text-color;
}

.text-inverse {
  color: $primary-text-color-inverse;
}

.text-black {
  color: $text-black;
}

.text-white {
  color: $white;
}

.text-grey-dark {
  color: $text-grey-dark;
}

.text-grey {
  color: $text-grey;
}

.text-grey-light {
  color: $text-grey-light;
}

.text-grey-lighter {
  color: $text-grey-ligthter;
}

.text-red {
  color: $red;
}

.text-orange {
  color: $orange;
}

.text-yellow {
  color: $yellow;
}

.text-green {
  color: $green;
}

.text-blue {
  color: $blue;
}

.text-purple {
  color: $purple;
}

.text-pink {
  color: $pink;
}

// font size
.text-smallest {
  font-size: $text-smallest;
  line-height: $text-height-smallest;
}

.text-smaller {
  font-size: $text-smaller;
  line-height: $text-height-smaller;
}

.text-small {
  font-size: $text-small;
  line-height: $text-height-small;
}

.text-normal {
  font-size: $text-normal;
  line-height: $text-height-normal;
}

.text-large {
  font-size: $text-large;
  line-height: $text-height-large;
}

// align
.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-justify {
  text-align: justify;
}

// float
.float-left {
  float: left;
}

.float-right {
  float: right;
}

// font weight
.text-weight-light {
  font-weight: $text-weight-light;
}

.text-weight-normal {
  font-weight: $text-weight-normal;
}

.text-weight-semibold {
  font-weight: $text-weight-semibold;
}

.text-weight-bold {
  font-weight: $text-weight-bold;
}

// text fade
.text-fade::after {
  background: $text-fade-background;
  bottom: 0;
  content: '';
  height: $text-height-normal;
  position: absolute;
  right: 0;
  text-align: right;
  width: 4rem;
}

// line-height
.text-height-large {
  line-height: $text-height-large;

  &.text-fade::after {
    height: $text-height-large;
  }
}

.text-height-normal {
  line-height: $text-height-normal;

  &.text-fade::after {
    height: $text-height-normal;
  }
}

.text-height-small {
  line-height: $text-height-small;

  &.text-fade::after {
    height: $text-height-small;
  }
}

.text-height-smaller {
  line-height: $text-height-smaller;

  &.text-fade::after {
    height: $text-height-smaller;
  }
}

.text-height-smallest {
  line-height: $text-height-smallest;

  &.text-fade::after {
    height: $text-height-smallest;
  }
}
