@supports ((background: linear-gradient(90deg, black, white)) or
(background: -webkit-linear-gradient(90deg, black, white))) {
  .o-map-grid {
    background-color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, .3) 1px, transparent 1px),
      linear-gradient(90deg, rgba(0, 0, 0, .3) 1px, transparent 1px),
      linear-gradient(rgba(0, 0, 0, .2) 1px, transparent 1px),
      linear-gradient(90deg, rgba(0, 0, 0, .2) 1px, transparent 1px);
    background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
    background-size: 140px 140px, 140px 140px, 20px 20px, 20px 20px;
  }
}
