@use './ui/variables';

.o-bookmark-button:focus {
  background-color: variables.$grey-lighter;
}

.o-bookmark-button.light:focus {
  background-color: variables.$grey-lighter;
}

.o-bookmark-button.primary:focus {
  background-color: variables.$primary-color-dark;
}

.o-bookmark-button.danger:focus {
  background-color: variables.$danger-color-dark;
}

.o-bookmark-button.grey-light:focus {
  background-color: variables.$grey-light;
}

.o-bookmark-button.grey-lighter:focus {
  background-color: variables.$grey-lighter;
}

.o-bookmark-button.grey-lightest:focus {
  background-color: variables.$grey-lightest;
}

.o-bookmark-button:focus:not(:focus-visible) {
  background-color: variables.$light-color;
}

.o-bookmark-button.light:focus:not(:focus-visible) {
  background-color: variables.$light-color;
}

.o-bookmark-button.primary:focus:not(:focus-visible) {
  background-color: variables.$primary-color;
}

.o-bookmark-button.danger:focus:not(:focus-visible) {
  background-color: variables.$danger-color;
}

.o-bookmark-button.grey-light:focus:not(:focus-visible) {
  background-color: variables.$grey-light;
}

.o-bookmark-button.grey-lighter:focus:not(:focus-visible) {
  background-color: variables.$grey-lighter;
}

.o-bookmark-button.grey-lightest:focus:not(:focus-visible) {
  background-color: variables.$grey-lightest;
}
