.o-centerposition {
  padding-right: 5px;
}
.o-centerposition-button {
  background-color: #000;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  min-width: 110px;
  padding: 5px;
  border-radius: 10px;
  display: inline-block;
  font-family: Arial, "Helvetica Neue", sans-serif;
}
.o-centerposition-marker {
  background-color: rgba(255,255,255,0.4);
  border-radius: 50%;
  cursor: default;
  font-size: 1rem;
  line-height: 2rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: -1rem;
  margin-left: -1rem;
  z-index: 10000;
  position: absolute;
}
