.o-dropdown li {
  height: 1.5rem;
  line-height: 1.5rem;
  padding: .25rem .75rem;
}

.o-dropdown li:hover {
  background-color: #eee;
  cursor: pointer;
}

.o-dropdown .o-icon {
  display: none;
  float: right;
}

.o-dropdown .o-active .o-icon {
  display: inline-block;
}
