@mixin default {
    .o-dropdown li {
        line-height: 1.5rem;
        padding: .25rem .75rem;
    }

    .o-dropdown hr {
        border: 0;
        border-bottom: 1px dotted #00000033;
        margin-left: 10px;
        margin-right: 10px;
    }

    .o-dropdown li:hover {
        background-color: #eee;
        cursor: pointer;
    }

    .o-dropdown .o-icon {
        display: none;
        float: right;
    }

    .o-dropdown .o-active .o-icon {
        display: inline-block;
    }
}
