
@mixin default {
    #o-editor-button {
        .o-icon-fa-pencil {
            height: 1em;
            padding: 0.25em;
            width: 1em;
        }
    }

    .o-editor-input:focus {
        border-color: #808080; /* Grey edge */
        box-shadow: 0 0 10px rgba(169, 169, 169, 0.5); /* Grey glow */
    }
    // "Hides" the ugly file input so the label can be used instead
    .o-modal label input[type=file].o-hidden-fileselector {
        opacity: 0;
        width: 1px;
        height:1px;
        padding: 0;
        border:0;
    }
}
