@use './ui/variables';

.o-embedded-overlay {
  background-color: rgba(37, 129, 196, 0.5);
  border-width: 0;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 0;
  transition: opacity ease-in-out;
  transition-delay: 0.1s;
  transition-duration: 0.8s;
  width: 100%;
  z-index: 2;
}

.o-embedded-overlay p {
  color: variables.$white;
  font-family: Roboto,Arial,sans-serif;
  font-size: 20px;
  margin: 0 50px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
