.o-export-format {
  padding: 0 .2em;
  //color: darkcyan;
  cursor: pointer;
  font-family: Arial,sans-serif;
  font-size: 0.9em;
  line-height: 1.5em;
  text-decoration: none;
  text-align: left;
  // height: 1.5em;
  border: none;
  max-height: 0px;
  vertical-align: middle;
}

.folded-export-element {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .5s;
  -webkit-transition: max-height .5s;
  -moz-transition: max-height .5s;   
  -ms-transition: max-height .5s;   
  -o-transition: max-height .5s;
}

.unfolded-export-element {
  max-height: 5em;
  overflow: hidden;
  transition: max-height 1s;
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;   
  -ms-transition: max-height 1s;   
  -o-transition: max-height 1s;
}

.o-export-format:hover {
  color: rgb(58, 130, 198);
}

#o-select-format-button {
  padding-left: 2.5em;
}

.clicks-disabled { 
  pointer-events: none 
}
