#o-externalurl-main-button {
  z-index: 1;
}

.o-icon-fa-external-link {
  padding-top: 0.45em;
  height: 1.1em;
  width: 1.1em;
}

.o-image-external-link {
  height: 2em;
  width: 2em;
  border-radius: 4px; 
}

.o-image-external-link image {
  height: 2em;
  width: 2em;
}

.o-externalurl-main-button-true .o-icon-fa-external-link {
  fill: $o-btn-active-color;
}
