.o-identify-content {
  width: 240px;
  word-wrap: break-word;
}

#o-identify-carousel > .o-identify-content {
  max-height: calc(70vh - 46px);
  overflow-y: auto;
}

.o-image-content {
  width: 227px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
}

#o-image-carousel > .o-image-content {
  max-height: calc(70vh - 46px);
  overflow-y: auto;
}
