// grow and shrink
$flex-no-shrink: 0;
$flex-no-grow: 0;
$flex-shrink: 1;
$flex-grow: 1;
$flex-grow-all: 2;

.flex {
  // flex container
  display: flex;

  &.row {
    flex-direction: row;
  }
  &.row-reverse {
    flex-direction: row-reverse;
  }
  &.column {
    flex-direction: column;
  }   
  &.column-reverse {
    flex-direction: column-reverse;
  }
  
  // flex items
  .shrink {
    flex-shrink: $flex-shrink;
  }
  .grow {
    flex-grow: $flex-grow;
  }   
  .no-shrink {
    flex-shrink: $flex-no-shrink;
  }
  .no-grow {
    flex-grow: $flex-no-grow;
  }
  .grow-all {
    flex-grow: $flex-grow-all;
  }

  .justify-start {
    justify-content: flex-start;
  }
  .justify-end {
    justify-content: flex-end;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-space-between {
    justify-content: space-between;
  }
  .justify-space-evenly {
    justify-content: space-evenly;
  }   
  .align-start {
    align-items: flex-start;
  }
  .align-end {
    align-items: flex-end;
  }
  .align-center {
    align-items: center;
  }
  .align-baseline {
    align-items: baseline;
  }
  .align-stretch {
    align-items: stretch;
  }     
}