#o-bottom-tools {
  bottom: 1.7em;
  height: auto;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
#o-footer {
  background-color: black;
  background-color: rgba(0,0,0,0.8);
  color: white;
  font-size: 0.7em;
  height: 2.5em;
  line-height: 2em;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
#o-footer a {
  color: white;
  text-decoration: none;
}
#o-footer a:hover {
  color: white;
  text-decoration: underline;
}
#o-footer .o-footer-left {
  float: left;
  position: relative;
  width: 30%;
}
#o-footer .o-footer-middle {
  float: left;
  position: relative;
  text-align: center;
  width: 40%;
}
#o-footer .o-footer-middle .o-logo {
  padding: 0.25em 0;
}
#o-footer .o-footer-middle img {
  height: 2em;
  padding-right: 5px;
}
#o-footer .o-footer-middle .o-logo span{
  vertical-align: top;
}
#o-footer .o-footer-right {
  position: relative;
  float: left;
  width: 30%;
}
#o-footer .o-footer-left {
  position: relative;
  float: left;
  padding-left: .5em;
  padding-top: 3px;
  width: 30%;
}
#o-footer .o-footer-right .o-footer-attribution {
  position: relative;
  float: right;
  padding-right: 5px;
  text-align: right;
}
#o-footer .o-footer-middle ul{
  display: inline-block;
  padding-left:0;
}
#o-footer .o-footer-middle ul li{
  border-right: 1px solid #ffffff;
  float: left;
  padding: 0 6px;
}
#o-footer .o-footer-middle ul li:last-child{
  border-right: none;
  padding-right:0;
}
@media screen and (max-width: 768px) {
#o-bottom-tools {
  bottom: 0;
}
#o-footer {
  display: none;
}
}
