#o-geolocation-button {
  z-index: 1;
  .o-icon-fa-location-arrow {
  	padding: 0.45em;
  	height: 1.1em;
  	width: 1.1em;
  }
}
.o-geolocation-button-true .o-icon-fa-location-arrow {
	fill: $o-btn-active-color;
}
