@mixin default {
    .o-guide {
        align-items: center;
    }

    .o-guide span {
        max-width: 30px;
        min-width: 60px;
    }

    .o-guide-target {
        animation: o-guide-target-animate 1s ease infinite alternate;
        z-index: 1201;
    }

    .o-guide-target.ol-rotate {
        animation: o-guide-target-ol-rotate-animate 1s ease infinite alternate;
        z-index: 1201;
        visibility: visible;
    }

    @keyframes o-guide-target-animate {
        100% {
            scale: 1.15;
        }
    }

    @keyframes o-guide-target-ol-rotate-animate {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
            scale: 1.15;
        }
    }
}
