[class^="o-icon-"],
[class*=" o-icon-"] {
  padding: .35em;
  height: 1.3em;
  width: 1.3em;
  float: right;
  fill: $o-btn-color;
}
[class^="o-icon-24"],
[class*=" o-icon-24"] {
  padding: 0;
  height: 1.5rem;
  width: 1.5rem;
  fill: $o-btn-color;
}
.o-menu-button [class^="o-icon-"],
.o-menu-button [class*=" o-icon-"] {
	padding: 0.25em;
	height: 1em;
	width: 1em;
}
.ol-control>button:hover [class^="o-icon-"],
.ol-control>button:hover [class*=" o-icon-"],
.o-button:hover [class^="o-icon-"],
.o-button:hover [class*="o-icon-"] {
	fill: $o-btn-bg;
}
.o-toolbar button:hover [class^="o-icon-"],
.o-toolbar button:hover [class*="o-icon-"] {
	fill: $o-btn-active-color;
}
button.o-disabled:hover [class^="o-icon-"],
button.o-disabled:hover [class*=" o-icon-"],
.o-disabled [class^="o-icon-"],
.o-disabled [class*=" o-icon-"] {
    fill: rgba(0,0,0,0.26);
}
.owl-prev .o-icon-fa-chevron-left,
.owl-next .o-icon-fa-chevron-right {
	fill: #424242;
	height: 1em;
	padding: .3em;
	width: 1em;
}
.o-subicon-expand-false .o-icon-fa-chevron-down,
.o-subicon-expand-true .o-icon-fa-chevron-right,
.ol-collapsed .o-icon-fa-angle-double-right,
.ol-attribution:not(.ol-collapsed) .o-icon-fa-info,
.o-toggle-button-max .o-icon-fa-angle-double-up,
.o-toggle-button-min .o-icon-fa-angle-double-down,
.o-checkbox-true .o-icon-fa-square-o,
.o-checkbox-false .o-icon-fa-check-square-o,
.o-check-false .o-icon-fa-check,
.o-icon-expand-false .o-icon-fa-chevron-down,
.o-icon-expand-true .o-icon-fa-chevron-right,
.o-search-true .o-search-button,
.o-search-false .o-search-button-close {
	display: none
}
