
.sidebarcontainer {
  background-color: $white;
  border-radius: 0.5em;
  box-shadow: 0 0 8px #888;
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  right: 26em;
  top: 6em;
  width: 320px;
  z-index: 1;
}

/**
   * ============ Urval ==============
   */

.urvalcontainer {
  border-bottom: 1px solid #d9d9d9;
  cursor: move;
  font-size: 12px;
  font-weight: bold;
  padding: 1em 1em 1em 2em;
  z-index: 10;
}

.urval-textnode-container {
  font-size: 15px;
  margin-bottom: 0.5em;
}

.urvalelement {
  border-bottom: 3px solid  $white;
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  margin-right: 1em;
  padding: 0.5em 0;
}

.selectedurvalelement {
  border-bottom: 3px solid #09f;
  color: rgb(0, 0, 0);
  font-weight: normal;
}

.closebutton-svg-container {
  cursor: pointer;
  height: 1.2em;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.2em;
}

.closebutton-svg {
  fill: rgb(77, 77, 77);
  height: 100%;
  width: 100%;
}

/**
   * ============ List ==============
   */

.listcontainer {
  font-size: 12px;
  font-weight: normal;
  margin-right: 0.5em;
  max-height: 40em;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.removelistelement-svg-container {
  cursor: pointer;
  display: inline-block;
  height: 1em;
  padding: 0.5em;
  vertical-align: top;
  width: 1em;
}

.removelistelement-svg {
  fill: rgb(77, 77, 77);
  height: 100%;
  width: 100%;
}

.listelement-content-container {
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em;
  width: 85%;
}

.expandlistelement-svg {
  fill: rgb(100, 100, 100);
  height: 100%;
  width: 100%;

  &:hover {
    fill: #09f;
  }
}

.expandlistelement-svg-container {
  float: right;
  height: 1em;
  transition: 0.5s;
  width: 1em;
  // In case the seceonf attribute is not definded for a feature or takes more than on line setting margin-top cause that it becamoes heterogeneous.
  // It is better to leave the expand arrow to stay always up top because we never know how much height an element is going to have.
}

.rotated {
  transform: rotate(90deg); /* IE 9 */
  transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);
  transition: .5s;
  transition: .5s;
  transition: .5s;
  transition: .5s;
  transition: 0.5s;
}

.o-identify-content {
  display: inline-block;
}

.folded {
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s;
  transition: max-height .5s;
  transition: max-height .5s;
  transition: max-height .5s;
  transition: max-height .5s;
}

.unfolded {
  max-height: 20em;
  overflow: hidden;
  transition: max-height 1s;
  transition: max-height 1s;
  transition: max-height 1s;
  transition: max-height 1s;
  transition: max-height 1s;
}

.highlighted {
  background-color: $whitesmoke;
  border-radius: 0 1em 1em 0;
  transition: background-color 0.5s;
  transition: background-color 0.5s;
  transition: background-color 0.5s;
  transition: background-color 0.5s;
  transition: background-color 0.5s;
}

/**
   * ============ Export ==============
   */

.exportcontainer {
  font-size: 12px;
  font-weight: normal;
}

.export-buttons-container {
  margin: 0.5em 0.2em;
}

.export-button {
  background-color: $whitesmoke;
  border: 1px solid #ccc;
  border-radius: 2em;
  color: $black;
  font-size: 12px;
  font-weight: normal;
  max-width: 280px;
  padding: 2px 8px;
  text-align: left;
}

.toaster {
  border-radius: 0.5em;
  box-shadow: 0 0 8px #888;
  padding: 1em;
  position: fixed;
  right: 1em;
  top: 1em;
  transition: .5s;
  transition: .5s;
  transition: .5s;
  transition: .5s;
  transition: .5s;
  z-index: 999;
}

.toaster-successful {
  background-color: #d6f5d6;
}

.toaster-unsuccessful {
  background-color: #fcc;
}

.disabled {
  color: #888;
  cursor: not-allowed;
}

.spinner {
  height: 1.5em;
  margin: 0 0.3em;
  transform: translateY(3px);
}

.hidden {
  display: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #a6a6a6;
  border-radius: 4px;
}

&[class*=#{$media-l}] {
  .sidebarcontainer {
    left: 50%;
    top: 5em;
    transform: translateX(-50%);
    width: 280px;
  }

  .o-identify-content {
    width: 100%;
  }
}

&[class*=#{$media-l-m}] {
  .sidebarcontainer {
    width: 250px;
  }
}

&[class*=#{$media-l-m-s}] {
  .sidebarcontainer {
    left: 5em;
    transform: none;
  }
}
