#o-modal {
  font-size: 1em;
  line-height: 1.42857143;
}
.o-modal-screen {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1050;
}
.o-modal {
  background-color: white;
  border-radius: 6px;
  bottom: auto;
  -webkit-box-shadow: 0 2px 8px 1px rgba(0,0,0,0.45);
  box-shadow: 0 2px 8px 1px rgba(0,0,0,0.45);
  font-family: Arial,sans-serif;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  right: auto;
  top: 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 300px;
  z-index: 1100;
}
.o-no-csstransforms .o-modal {
  margin-left: -150px;
  margin-top: -50px;
}
.o-modal-title {
  background-color: #F7F7F7;
  border-bottom: 1px solid #EBEBEB;
  border-radius: 6px 6px 0 0;
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
}
.o-modal-content {
  font-size: 0.9em;
  line-height: 1.1em;
  max-height: calc(100vh - 60px);
  height: 100%;
  padding: 10px 15px;
  overflow-y: auto;
}
.o-modal-content .o-share-link {
  padding: 10px 5px;
}
.o-modal input[type=button],
.o-modal select,
.o-modal textarea,
.o-modal img,
.o-modal input[type=file],
.o-modal input[type=text] {
  width: 100%;
}
.o-modal li {
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 14px;
  padding: 3px 5px;
  margin-left: -15px;
  margin-right: -15px;
}

&[class*=#{$media-l}] {
.o-modal {
  max-width: 300px;
  width: 90%;
}
}
