.o-downloader {
  .o-card-title {
    text-align: center;
  }
  .o-card-content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .o-table tr:first-child td {
    border-top: 0px;
  }
}
