@import 'externs/ol';

.ol-attribution li a {
  color: #bbb;
}

.ol-attribution li a:focus {
  color: #fff;
  text-decoration: underline;
}

.ol-attribution li a:focus:not(:focus-visible) {
  color: #bbb;
  text-decoration: none;
}

.ol-overlaycontainer-stopevent {
  z-index: unset !important;
}

.ol-overlaycontainer,
.ol-overlaycontainer-stopevent {
  pointer-events: none;
}

.ol-overlaycontainer > *,
.ol-overlaycontainer-stopevent > * {
  pointer-events: auto;
}
