@import 'externs/ol';

.ol-attribution li a {
  color: #bbb;
}

.ol-overlaycontainer-stopevent {
  z-index: unset !important;
}

.ol-overlaycontainer,
.ol-overlaycontainer-stopevent {
  pointer-events: none;
}

.ol-overlaycontainer > *,
.ol-overlaycontainer-stopevent > * {
  pointer-events: auto;
}
