#o-popup {
  display: none;
  width: 270px;
}

#o-identify-carousel,
#o-identify {
  height: 100%;
}

.o-popup {
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  bottom: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  max-height: 70vh;
  padding: 1px;
  position: absolute;
  text-align: left;
  white-space: normal;
  width: 270px;
  z-index: 1010;
}

.o-popup::before,
.o-popup::after {
  border: solid transparent;
  content: ' ';
  display: block;
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
}

.o-popup::after {
  border-top-color: $white;
  border-width: 10px;
  bottom: -20px;
  left: 50%;
  margin-left: -10px;
}

.o-popup::before {
  border-top-color: #999;
  border-width: 11px;
  bottom: -22px;
  left: 50%;
  margin-left: -11px;
}

.o-popup .icon {
  pointer-events: none;
  display: block;
}
&[class*=#{$media-l-m-s}] {
  #o-popup, .o-popup {
    width: 240px;
  }
}
&[class*=#{$media-l-m-s-xs}] {
  #o-popup, .o-popup {
    width: 200px;
  }
}

.o-popup .o-card-content {
  max-height: calc(70vh - 46px) !important;

  #o-identify {
    max-height: inherit;

    #o-identify-carousel {
      max-height: inherit;

      .owl-stage {
        margin-bottom: 10px;
      }
    }
  }
}
