.o-position-find,
.o-position-coords {
  display: none;
}

.o-position {
  padding-right: 5px;
  position: relative;

  .o-active {
    display: inline-block;
  }
}

.o-position-button {
  background-color: #000;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-family: Arial, 'Helvetica Neue', sans-serif;
  font-size: .625rem;
  height: 1.25rem;
  line-height: 1.25rem;
  padding: 0 15px;
  position: relative;
}

.o-position-button:focus {
  background-color: #fff;
  color: #000;
}

.o-position-button:focus:not(:focus-visible) {
  background-color: #000;
  color: #fff;
}

.o-position-center-button {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 1.25rem;
  line-height: 1.25rem;
  margin-right: 3px;
  padding: 1px;
  position: relative;
  vertical-align: middle;
  z-index: 100;
}

.o-position-center-button:focus {
  background-color: rgba(255, 255, 255, 0.7);
  color: #fff;

  .o-icon-position {
    fill: #000;
  }
}

.o-position-center-button:focus:not(:focus-visible) {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;

  .o-icon-position {
    fill: #fff;
  }
}

.o-position-center-button.o-active {
  background-color: rgba(255, 255, 255, 0.7);
  color: #fff;

  .o-icon-position {
    fill: #000;
  }
}

.o-position-marker {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  cursor: default;
  height: 1.5rem;
  left: 50%;
  margin-left: -1rem;
  margin-top: -1rem;
  padding: .25rem;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 1.5rem;
  z-index: 1;
}

.o-icon-position {
  fill: #fff;
  float: none;
  height: 1.125rem;
  padding: 0;
  width: 1.125rem;
}

.o-icon-position-marker {
  fill: #000;
  height: 1.5rem;
  padding: 0;
  width: 1.5rem;
}

.o-position-coords,
.o-position-find {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-family: Arial, 'Helvetica Neue', sans-serif;
  font-size: 0.625rem;
  margin: 0;
}

input.o-position-find {
  padding: 0;
  width: auto;
}
