$print-control-position: .5rem;
$print-control-bg-color: rgba($primary-color-inverse, .7);
$print-control-border-radius: $radius-small - 0.0625rem;
$print-control-font-size: $font-size-smallest;
$print-control-padding: .1875rem;
$print-control-z-index: $z-middle;
$print-margin: 10mm 15mm;

$print-scale-line-color: $grey-darker;
$print-scale-line-inner-border-radius: $print-control-border-radius;
$print-scale-line-font-size: $font-size-smallest;

#o-print-tools-left > .collapse-scroll.expanded {
  background-color: white;
  border-radius: 0.25rem;
  overflow: hidden;
}

// scale-line
.print-scale-line {
  background: $print-control-bg-color;
  border-radius: $print-control-border-radius;
  padding: $print-control-padding;
}

.print-scale-line-inner {
  border: 2px solid $print-scale-line-color;
  border-bottom-left-radius: $print-scale-line-inner-border-radius;
  border-bottom-right-radius: $print-scale-line-inner-border-radius;
  border-top: 0;
  color: $print-scale-line-color;
  font-size: $print-scale-line-font-size;
  margin: 1px;
  text-align: center;
  transition: all 0.25s;
  will-change: contents, width;
}

.ol-scale-text {
  bottom: 25px;
  color: #000;
  font-size: 14px;
  position: absolute;
  text-align: center;
}

.ol-scale-step-text {
  bottom: -5px;
  color: #000;
  font-size: 12px;
  position: absolute;
  z-Index: 11;
}

.ol-scale-step-marker {
  background-color: #000;
  float: right;
  height: 15px;
  width: 1px;
  z-Index: 10;
}

.ol-scale-singlebar {
  border: 1px solid #000;
  height: 10px;
  position: relative;
  z-Index: 9;
}

// atrribution
.print-attribution {
  &.ol-control {
    background-color: $print-control-bg-color;
    border-radius: $print-control-border-radius;
    box-shadow: none;
  }
}

.print-attribution {
  background-color: $print-control-bg-color;
  border-radius: $print-control-border-radius;
  display: block;
  font-size: $print-scale-line-font-size;
  padding: $print-control-padding;
  text-align: right;
  z-index: $print-control-z-index;
}

.print-attribution a {
  color: $primary-text-color;
  font-size: $print-control-font-size;
  text-decoration: none;
}

.print-attribution button {
  display: none;
}

.print-attribution img {
  display: none;
}

.print-margin {
  padding: $print-margin;
}

.print-created-hidden {
  visibility: hidden;
}

.print-created-none {
  display: none;
}

.printmap-north-arrow {
  display: block;
}

.print-map-loading-spinner {
  display: inline-block;
  width: 45px;
  height: 45px;
  border: 16px solid rgba(255, 255, 255, 0.884);
  border-radius: 50%;
  border-top-color: #008ff5;
  animation: spin 1s ease-in-out infinite;
 }

// media print settings
@media print {
  .no-print {
    display: none;
  }
}
