#o-printmenu {
    background-color: #fff;
    border-radius: 1px; /*workaround for box-shadow bug in ios*/
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.45);
	box-shadow: 0 0 5px rgba(0,0,0,0.45);
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	position: absolute;
	// left: -280px;
	top: 0px;
	width: 280px;
	z-index: 100;
	-ms-transform: translateX(0);
	-webkit-transform: translateX(0);
	transform: translateX(0);
	-ms-transition: .3s ease all;
	-webkit-transition: .3s ease all;
	transition: .3s ease all;
}

#o-main-setting-heading {
    margin: 5px 0 5px 5px;
}

.o-dd-input {
    width: 75%;
}

.o-setting-heading {
    display: block;
    font-weight: bold;
}

form .o-block {
    margin-left: 10px;
}

form .o-text-input {
    width: 75%;
}

form button {
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

form h6 {
    font-weight: bold;
}

form label {
    font-weight: normal;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}


