$print-control-position: .5rem;
$print-control-bg-color: rgba($primary-color-inverse, .7);
$print-control-border-radius: $radius-small - 0.0625rem;
$print-control-font-size: $font-size-smallest;
$print-control-padding: .1875rem;
$print-control-z-index: $z-middle;
$print-margin: 10mm 15mm;

$print-scale-line-color: $grey-darker;
$print-scale-line-inner-border-radius: $print-control-border-radius;
$print-scale-line-font-size: $font-size-smallest;

// scale-line
.print-scale-line {
  background: $print-control-bg-color;
  border-radius: $print-control-border-radius;
  padding: $print-control-padding;
}
.print-scale-line-inner {
  border: 2px solid $print-scale-line-color;
  border-bottom-right-radius: $print-scale-line-inner-border-radius;
  border-bottom-left-radius: $print-scale-line-inner-border-radius;
  border-top: none;
  color: $print-scale-line-color;
  font-size: $print-scale-line-font-size;
  text-align: center;
  margin: 1px;
  will-change: contents, width;
  transition: all 0.25s;
}
.ol-scale-text {
    position: absolute;
    font-size: 14px;
    text-align: center;
    bottom: 25px;
    color: #000000;
}
.ol-scale-step-text {
  position: absolute;
  bottom: -5px;
  font-size: 12px;
  z-Index: 11;
  color: #000;
 }
.ol-scale-step-marker {
  width: 1px;
  height: 15px;
  background-color: #000;
  float: right;
  z-Index: 10
}
.ol-scale-singlebar {
  position: relative;
  height: 10px;
  z-Index: 9;
  border: 1px solid #000
}

// atrribution
.print-attribution {
  &.ol-control {
    background-color: $print-control-bg-color;
    border-radius: $print-control-border-radius;
    box-shadow: none;
  }
}
.print-attribution {
  background-color: $print-control-bg-color;
  border-radius: $print-control-border-radius;
  display: block;
  font-size: $print-scale-line-font-size;
  padding: $print-control-padding;
  text-align: right;
  z-index: $print-control-z-index;
}
.print-attribution a {
  color: $primary-text-color;
  font-size: $print-control-font-size;
  text-decoration: none;
}
.print-attribution button {
  display: none;
}
.print-attribution img {
  display: none;
}

.print-margin {
  padding: $print-margin;
}

.print-created-hidden {
  visibility: hidden;
}

.print-created-none {
  display: none;
}

.printmap-north-arrow {
  display:block;
}

// media print settings
@media print {
  .no-print {
    display: none;
  }
}
