  @import 'externs/normalize.scss';
  ul {
    list-style:none
  }
  ul, li {
    margin:0;padding:0
  }
  *:focus {
      outline: none;
  }
  svg,
  object{
    width: 100%;
  }
  svg {
    pointer-events: none;
  }
  span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  i {
    font-style: italic;
  }
  b, strong {
    font-weight: bold;
  }
  button {
  	background-color: $o-btn-bg;
    border: none;
  	color: $o-btn-color;
  	cursor: pointer;
  }
  button:focus {
  	outline: none;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
  }
