#searchList .awesomplete {
  width: 100%;
}

#searchList .awesomplete>input {
  height: 100%;
  width: 100%;
}

#searchList .button {
  background: linear-gradient(hsl(40, 70%, 80%), hsl(40, 70%, 70%));
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.3em;
  padding: 0.5em 5em;
}

#searchList .awesomplete .dropdown-btn {
  border-radius: 5px;
  line-height: initial;
  padding: 0.75em 1em;
  position: absolute;
  right: 0;
}

.dropdown-btn:focus {
  border: 1px solid rgba(213, 213, 213, 0.6);
}

#searchList .caret {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid;
  display: inline-block;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  width: 0;
}

#searchList .awesomplete>ul {
  background-color: $white;
  min-width: 85%;
}

#searchList .awesomplete>ul>li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#searchList .awesomplete>ul>li {
  border-bottom: 1px solid rgba(213, 213, 213, 0.2);
  font-size: .875em;
  left: 1.2em;
  line-height: 1.5rem;
  max-width: 100%;
  padding: .4em 1em;
  position: relative;
}

#searchList .awesomplete>ul>li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


#searchList .awesomplete>ul>li:hover {
  background: rgba(213, 213, 213, 0.7);
}

#searchList .highlight {
  background: rgba(213, 213, 213, 0.7);
}

#searchList .awesomplete mark {
  background: hsl(65, 100%, 50%);
}


.searchlist-item {
  display: flex;
}

.searchlist-item--p {
  padding: 0.5em;
}
