$search-heading-backround: rgba(238,238,238,0.5);
$search-hover-backround: rgba(238,238,238,1);
$search-border-color: $search-hover-backround;
$search-width: 310px;
$search-padding: .5rem;
$search-button-l: 2.5rem;
$search-button-s: 2rem;
$search-button-padding: .25rem;
$search-button-l-full: $search-button-l + ($search-button-padding * 2);
$search-button-s-full: $search-button-s + ($search-button-padding * 2);
$search-field-padding: $search-padding;
$search-field-width: calc(#{$search-width} - calc(#{$search-button-l-full} + #{$search-padding}));
$search-field-width-l: 170px;
$search-field-width-l-focus: calc(100% - #{$search-button-s-full});
$search-field-width-m: $search-field-width-l-focus;
$search-menu-button-width: 2.5rem;
$search-width-l: calc(100% - calc(#{$search-menu-button-width} + #{$search-padding} * 2));
@import 'externs/awesomplete.scss';

.o-search-wrapper {
  max-width: calc(100% - 7rem);
  width: $search-width;
}

.o-search input {
  box-sizing: content-box;
  line-height: inherit;
}

.o-search-field {
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
	height: 1.5rem;
  margin: 0;
  overflow: hidden;
  padding: .5rem 0 .5rem .75rem;
  width: 100%;
}
input.o-search-field:focus {
  outline: none;
}
input.o-search-field::-ms-clear {
  display: none;
}
&[class*=#{$media-l}] {
.o-search-field {
	font-size: 1rem;
	height: 18px;
  line-height: 1rem;
}
}
&[class*=#{$media-l-m}] {
  // .o-search-field {
  // 	width: $search-field-width-m;
  // }
}
&[class*=#{$media-l-m-s-xs}] {
  .o-search-wrapper {
    display: none;
  }
}
.o-search-wrapper {
  z-index: -1;
}