@import 'externs/twitter-typeahead.scss';
#o-search-wrapper {
  background-color: #fff;
  border: 1px solid #878786;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.45);
  box-shadow: 0 2px 5px rgba(0,0,0,0.45);
	height: 2.5em;
  margin: 0 0 0 -155px;
  position: absolute;
  top: .5em;
  left: 50%;
  width: 310px;
  z-index: 10;
}
.o-search-field {
  border: none;
  border-radius: 4px;
  font-size: 1.25em;
	height: 1em;
  overflow: hidden;
  padding: .5em;
  padding-right: 0;
  width: 260px;
}
.o-icon-search-fa-times {
	padding: .5em;
	height: 1em;
	width: 1em;
}
input.o-search-field:focus {
  outline: none;
}
input.o-search-field::-ms-clear {
    display: none;
}
#o-search-button-close,
#o-search-button {
  background-color: transparent;
  color: #424242;
	font-size: 1em;
  position: relative;
  float: right;
  height: 2.5em;
  outline: none;
  width: 2.5em;
  padding: .25em;
}
#o-search-button.o-search-true:hover {
  color: black;
}

@media screen and (max-width: 768px) {
#o-search-wrapper {
	border: none;
	height: 2em;
	left: auto;
	margin: 0;
  right: 3em;
	max-width: calc(100% - 3.5em);
	width: auto;
	z-index: 1;
}
.o-search-field {
	-webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
	width: 100px;
	border: none;
	font-size: 1em;
	height: 1em;
  padding-right: 0;
}
.o-search-field.tt-hint {
	width: 100%;
}
.o-search-field.tt-input:focus {
	width: 258px;
}
#o-search-button-close,
#o-search-button {
	height: 2em;
	padding: 0;
	width: 2em;
}
.o-icon-fa-search {
	padding: .5em;
	height: 1em;
	width: 1em;
}
.o-icon-search-fa-times {
	padding: .6em;
	height: .8em;
	width: .8em;
}
}
