#o-sidebar.o-sidebar-show {
	-ms-transform: translateX(-270px);
	-webkit-transform: translateX(-270px);
	transform: translateX(-270px);
}
#o-sidebar {
  border-radius: 1px; /*workaround for box-shadow bug in ios*/
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.45);
  box-shadow: 0 0 5px rgba(0,0,0,0.45);
  height: 100%;
	position: absolute;
  right: -270px;
  top: 0px;
  width: 270px;
  z-index: 110;
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -ms-transition: .1s ease all;
  -webkit-transition: .1s ease all;
  transition: .1s ease all;
}
.o-sidebar {
  height: 100%;
}
.o-sidebar .o-card-content {
  height: calc(100% - 46px)!important;
  .owl-stage {
    margin-bottom: 10px;
  }
}
#o-sidebar .owl-carousel .owl-wrapper-outer {
  overflow-y: auto;
}
@media screen and (max-width: 320px) {
#o-sidebar {
  width: 100%;
  right: -320px;
}
#o-sidebar.o-sidebar-show {
  -ms-transform: translateX(-320px);
  -webkit-transform: translateX(-320px);
  transform: translateX(-320px);
}
}
