#o-sidebar.o-sidebar-show {
	-ms-transform: translateX(-270px);
	-webkit-transform: translateX(-270px);
	transform: translateX(-270px);
}
#o-sidebar {
  background-color: #FFF;
  background-color: rgba(255,255,255,1);
  border-radius: 1px; /*workaround for box-shadow bug in ios*/
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.45);
  box-shadow: 0 0 5px rgba(0,0,0,0.45);
	font-size: 0.875em;
  height: 100%;
  line-height: 1.42857143;
  position: absolute;
  right: -270px;
  top: 0px;
  width: 270px;
  z-index: 30;
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -ms-transition: .1s ease all;
  -webkit-transition: .1s ease all;
  transition: .1s ease all;
}
