.o-stylepicker {
  height: 1.25rem;
  margin-right: 5px;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  min-width: 110px;
}

.o-stylepicker button {
  border-radius: 10px;
  font-family: Arial, 'Helvetica Neue', sans-serif;
  font-size: .625rem;
  line-height: 1.25rem;
}

.o-stylepicker .dropdown li:hover {
  color: $grey-darker;
}

.o-stylepicker-layerIcon {
  border: $blue solid 1px;
}