/*Tooltip arrow*/
.o-tooltip span[data-tooltip] {
  border: 4px solid rgb(255, 255, 255);
  height: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.2s 1s ease;
  -moz-transition: opacity 0.2s 1s ease;
  -ms-transition: opacity 0.2s 1s ease;
  transition: opacity 0.2s 1s ease;
  visibility: hidden;  /*display:non can't be used with transition*/
  width: 0;
}
.o-tooltip:hover span[data-tooltip] {
  display: block;
  opacity: 1;
  visibility: visible;
}
.o-tooltip:hover span[data-tooltip]:after {
  background:rgba(51,51,51,0.85);
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border-width: 10px;
  color:#fff;
  content: attr(data-tooltip);
  font-size: 0.7em;
  margin-left: 4px; /*same as border width */
  padding:5px 10px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width:auto;
  z-index:10;
}
.o-tooltip:hover span[data-tooltip][data-placement="east"] {
  border-color: transparent rgba(51,51,51,0.85) transparent transparent;
  right: -10px;
  top: 35%;
}
.o-tooltip:hover span[data-tooltip][data-placement="east"]:after {
  margin-top: -11px;
}
.o-tooltip span[data-tooltip][data-placement="west"] {
  border-color: transparent transparent transparent rgba(51,51,51,0.85);
  left: -10px;
  top: 35%;
}
.o-tooltip:hover span[data-tooltip][data-placement="west"]:after {
  right: 4px; /*same as border width */
  margin-top: -11px; /*vertical align to arrow*/
}
.o-tooltip span[data-tooltip][data-placement="northwest"] {
  border-color: rgba(51,51,51,0.85) transparent transparent transparent;
  top: -10px;
  left: 14px;
}
.o-tooltip:hover span[data-tooltip][data-placement="northwest"]:after {
  margin-top: -25px; /*same as span top*/
  margin-left: -10px;
}
.o-tooltip span[data-tooltip][data-placement="north"] {
  border-color: rgba(51,51,51,0.85) transparent transparent transparent;
  top: -10px;
  left: 50%;
}
.o-tooltip:hover span[data-tooltip][data-placement="north"]:after {
  margin-top: -25px; /*same as span top*/
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
