// buttons
$o-btn-color: #424242;
$o-btn-bg: #fff;
$o-btn-active-color: #008ff5;
$o-btn-hover-color: #eee;
$o-btn-hover-bg: #424242;

// element query cls names
$media-l: o-media-l;
$media-l-m: o-media-l-m;
$media-l-m-s: o-media-l-m-s;
$media-l-m-s-xs: o-media-l-m-s-xs;
