.filter-menu{
	@media screen and (max-width: 600px) {
    	width: 100%;
   }
}

.filter-menu-hide{
	@media screen and (max-width: 600px) {
		margin-left: -100%;
	}
}


.filter-menu-theme-btn{
	visibility: hidden;
	@media screen and (max-width: 600px) {
    	visibility: visible;
   }
}

.filter-main-container{
	@media screen and (max-width: 600px) {
    	height: 90%;
   }
}

.left-arrow{
	border: solid black;
  	border-width: 0 3px 3px 0;
  	display: inline-block;
  	padding: 3px;
  	transform: rotate(135deg);
  	-webkit-transform: rotate(135deg);
}