@import 'no-map.scss';
@import 'background-grid.scss';
@import 'variables';
.o-map {
  height: 100%;
  overflow: hidden;
  -ms-touch-action: manipulation;
  position: relative;
  touch-action: manipulation;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  @import 'reset.scss';
  @import 'helpers.scss';
  @import 'ol.scss';
  @import 'externs/owl-carousel.scss';
  @import 'font.scss';
  @import 'table.scss';
  @import 'card.scss';
  @import 'container-fluid.scss';
  @import 'container.scss';
  @import 'card.scss';
  @import 'toolbar.scss';
  @import 'button.scss';
  @import 'image.scss';
  @import 'modal.scss';
  @import 'popup.scss';
  @import 'popover.scss';
  @import 'dropdown.scss';  
  @import 'sidebar.scss';
  @import 'close.scss';
  @import 'icon.scss';
  @import 'tooltip.scss';
  @import 'control.scss';
  @import 'viewer.scss';
  @import 'rotate.scss';
  @import 'mapmenu.scss';
  @import 'home.scss';
  @import 'geolocation.scss';
  @import 'editor.scss';
  @import 'editor-toolbar.scss';
  @import 'fullscreen.scss';
  @import 'share.scss';
  @import 'measure.scss';
  @import 'legend.scss';
  @import 'search.scss';
  @import 'downloader.scss';
  @import 'hidden.scss';
}
html,
body {
  height: 100%;
  margin: 0;
}
#o-wrapper,
#app-wrapper {
	height: 100%;
	overflow: hidden;
	position: relative;
}
