@import 'no-map';
@import 'background-grid';
@import 'variables';
@import 'ui/ui';
@import 'bookmark';

.o-map {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @import 'reset';
  @import 'ol';
  @import 'externs/glidejs/import.scss';
  @import 'glide/custom';
  @import 'card';
  @import 'container';
  @import 'toolbar';
  @import 'button';
  @import 'image';
  @import 'modal';
  @import 'popup';
  @import 'popover';
  @import 'dropdown';
  @import 'sidebar';
  @import 'stylepicker';
  @import 'close';
  @import 'icon';
  @import 'tooltip';
  @import 'viewer';
  @import 'rotate';
  @import 'mapmenu';
  @import 'editor';
  @import 'editor-toolbar';
  @import 'position';
  @import 'progressbar';
  @import 'measure';
  @import 'print';
  @import 'search';
  @import 'searchList';
  @import 'hidden';
  @import 'featureinfo';
  @import 'infowindow';
  @import 'ui/validate';
  @import 'o-scale';
  @import 'scalepicker';
  @import 'embedded-overlay';
  @import 'spinner';
}

html,
body {
  height: 100%;
  margin: 0;
  overscroll-behavior-y: contain;
}

#o-wrapper,
#app-wrapper {
  height: 100%;
  overflow: hidden;
  position: relative;
}

#loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.7);

  &.hide {
    display: none;
  }

  // based on code from https://codepen.io/mandelid/pen/kNBYLJ
  .loading-spinner {
    display: inline-block;
    width: 75px;
    height: 75px;
    border: 5px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
  }
}