@import 'background-grid.scss';
@import 'variables';
.o-map {
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  @import 'reset.scss';
  @import 'no-map.scss';
  @import 'helpers.scss';
  @import 'ol.scss';
  @import 'externs/owl-carousel.scss';
  @import 'externs/twitter-typeahead.scss';
  @import 'button.scss';
  @import 'modal.scss';
  @import 'popup.scss';
  @import 'sidebar.scss';
  @import 'close.scss';
  @import 'icon.scss';
  @import 'tooltip.scss';
  @import 'control.scss';
  @import 'footer.scss';
  @import 'rotation.scss';
  @import 'mapmenu.scss';
  @import 'home.scss';
  @import 'geolocation.scss';
  @import 'editor-toolbar.scss';
  @import 'fullscreen.scss';
  @import 'share.scss';
  @import 'about.scss';
  @import 'measure.scss';
  @import 'legend.scss';
  @import 'search.scss';
  @import 'hidden.scss';
}
html,
body {
  height: 100%;
  margin: 0;
}
#app-wrapper {
	height: 100%;
	overflow: hidden;
	position: relative;
}
