language: node_js
node_js:
  - 8
  - 9
  - 10
  - 11
  - 12
  - 13

os:
  - windows
  - linux
  - osx

cache:
  directories:
    - node_modules

notifications:
  email:
    on_success: never
    on_failure: always

branches:
  only:
  - master

before_script:
  - npm install
script:
  - npm run build
