<div id="o-editor-toolbar" class="o-editor-toolbar o-toolbar o-toolbar-horizontal o-padding-horizontal-8 o-rounded-top o-hidden">
    <select name="layer-dropdown">
      {{#each this}}
        <option value="{{this.value}}">{{this.name}}</option>
      {{/each}}
    </select>
    <div id="o-editor-toolbar-drawtools" class="o-toolbar-horizontal">
      <button id="o-editor-draw" class="o-button-lg" type="button" name="button">
          <svg class="o-icon-fa-pencil">
              <use xlink:href="#fa-pencil"></use>
          </svg>
      </button>
    </div>
    <button id="o-editor-attribute" class="o-button-lg" type="button" name="button">
      <svg class="o-icon-fa-font">
          <use xlink:href="#fa-font"></use>
      </svg>
    </button>
    <button id="o-editor-delete" class="o-button-lg" type="button" name="button">
      <svg class="o-icon-fa-trash">
          <use xlink:href="#fa-trash"></use>
      </svg>
    </button>
    <button id="o-editor-layers" class="o-button-lg" type="button" name="button">
      <svg class="o-icon-fa-bars">
          <use xlink:href="#fa-bars"></use>
      </svg>
    </button>
    <div id="editor-toolbar-layers-dropup" class="o-dropup">
      <ul>
        {{#each this}}
          <li data-layer="{{this.value}}">{{this.name}}</li>
        {{/each}}
      </ul>
    </div>
    <button id="o-editor-save" class="o-button-lg o-disabled" type="button" name="button">
      <svg class="o-icon-fa-floppy-o">
          <use xlink:href="#fa-floppy-o"></use>
      </svg>
    </button>
    <button id="o-editor-close" class="o-button-lg" type="button" name="button">
        <svg class="o-icon-fa-times">
            <use xlink:href="#fa-times"></use>
        </svg>
    </button>
</div>
