<html>
  <head>
    <link href="css/print.css" rel="stylesheet">
  </head>
  <body>
    <div class="o-print-logo"><img src="css/png/logo_print.png"></div>
    <div class="o-map-canvas"><img src="{{this.src}}"/></div>
    <div class="o-print-attribution">{{this.attribution}}</div>
  </body>
</html>
