<div id="no-map"><div class="no-map-message">Du använder en föråldrad webbläsare. Uppgradera din webbläsare för att visa kartan.</div></div>
<div id="wrapper">
  <div id="map" class="map">
    <div id="bottom-tools"></div>    
    <div id="footer">
      <div class="footer-left">&nbsp;</div>
      <div class="footer-middle">
      </div>
      <div class="footer-right">
      </div>
  </div>
</div>
