@use './variables';

$button-color-default: variables.$white;
$button-scale: variables.$base-scale;
$button-round: variables.$radius-round;
$button-padding-compact: 0;
$button-padding-smallest: variables.$padding-smallest;
$button-padding-small: variables.$padding-smaller variables.$padding-smaller * 1.5;
$button-padding-medium: variables.$padding-small variables.$padding-small * 1.5;
$button-padding-large: variables.$padding-standard variables.$padding-standard * 1.5;
$button-divider-color: variables.$grey-lighter;

.button,
button {
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0;
  overflow: hidden;
  padding: $button-padding-medium;
  width: auto;

  &.center {
    text-align: center;
  }

  &.medium {
    padding: $button-padding-medium;

    &.round {
      padding: variables.$padding-small;
    }
  }

  &.large {
    padding: $button-padding-large;

    &.round {
      padding: variables.$padding-standard;
    }
  }

  &.small {
    padding: $button-padding-small;

    &.round {
      padding: variables.$padding-smaller;
    }
  }

  &.smallest {
    padding: $button-padding-smallest;

    &.round {
      padding: variables.$padding-smallest;
    }
  }

  &.compact {
    padding: $button-padding-compact;
  }

  &.primary {
    background-color: variables.$primary-color;
  }

  &.danger {
    background-color: variables.$danger-color;
  }

  &.light {
    background-color: variables.$light-color;
  }

  &.grey {
    background-color: variables.$grey;
  }

  &.grey-light {
    background-color: variables.$grey-light;
  }

  &.grey-lighter {
    background-color: variables.$grey-lighter;
  }

  &.grey-lightest {
    background-color: variables.$grey-lightest;
  }

  &.border {
    border: 2px solid variables.$white;

    &.active {
      border: 2px solid variables.$grey-light;
    }

    &.active:hover {
      border: 2px solid variables.$grey-light;
    }

    &.active:focus {
      border: 2px solid variables.$grey-light;
    }

    &.active:focus:not(:focus-visible) {
      border: 2px solid variables.$grey-light;
    }
  }

  &.border:hover {
    border: 2px solid variables.$grey-lighter;
  }

  &.border:focus {
    border: 2px solid variables.$grey-lighter;
  }

  &.border:focus:not(:focus-visible) {
    border: 2px solid variables.$grey-lighter;
  }

  &.border {
    &.primary {
      border: 2px solid variables.$primary-color-light;
    }

    &.primary:hover {
      border: 2px solid variables.$primary-color-dark;
    }

    &.primary:focus {
      border: 2px solid variables.$primary-color-dark;
    }

    &.primary:focus:not(:focus-visible) {
      border: 2px solid variables.$primary-color-dark;
    }

    &.primary {
      &.active {
        border: 2px solid variables.$primary-color-dark;
      }
    }
  }

  &.round {
    border-radius: $button-round;

    [class*='icon'] > *,
    [class^='icon'] > * {
      border-radius: $button-round;
      overflow: hidden;
    }
  }
}

button,
.button {
  outline: none;
}

button:hover,
.button:hover {
  &.light:hover {
    background-color: variables.$grey-lightest;
  }

  &.primary:hover {
    background-color: variables.$primary-color-dark;
  }

  &.danger:hover {
    background-color: variables.$danger-color-dark;
  }

  &.grey-light:hover {
    background-color: variables.$grey;
  }

  &.grey-lighter:hover {
    background-color: variables.$grey-light;
  }

  &.grey-lightest:hover {
    background-color: variables.$grey-lighter;
  }
}

button:focus,
.button:focus {
  &.light:focus {
    background-color: variables.$grey-light;
    border: 1px solid variables.$black;
  }

  &.primary:focus {
    background-color: variables.$primary-color-dark;
    border: 1px solid variables.$black;
  }

  &.danger:focus {
    background-color: variables.$danger-color-dark;
    border: 1px solid variables.$black;
  }

  &.grey-light:focus {
    background-color: variables.$grey;
    border: 1px solid variables.$black;
  }

  &.grey-lighter:focus {
    background-color: variables.$grey-light;
    border: 1px solid variables.$black;
  }

  &.grey-lightest:focus {
    background-color: variables.$grey-lighter;
    border: 1px solid variables.$black;
  }

  &.icon-small:focus {
    border: 1px solid variables.$black;
  }

  &.icon-smaller:focus {
    border: 1px solid variables.$black;
  }

  &.icon-smallest:focus {
    border: 1px solid variables.$black;
  }
}

button:focus:not(:focus-visible),
.button:focus:not(:focus-visible) {
  &.light:focus:not(:focus-visible) {
    background-color: variables.$light-color;
    border: 0;
  }

  &.light:focus:not([class*='icon']):not(:focus-visible) {
    background-color: variables.$grey-lighter;
    border: 0;
  }

  &.primary:focus:not(:focus-visible) {
    background-color: variables.$primary-color;
    border: 0;
  }

  &.danger:focus:not(:focus-visible) {
    background-color: variables.$danger-color;
    border: 0;
  }

  &.grey-light:focus:not(:focus-visible) {
    background-color: variables.$grey-light;
    border: 0;
  }

  &.grey-lighter:focus:not(:focus-visible) {
    background-color: variables.$grey-lighter;
    border: 0;
  }

  &.grey-lightest:focus:not(:focus-visible) {
    background-color: variables.$grey-lightest;
    border: 0;
  }

  &.icon-small:focus:not(:focus-visible) {
    border: 0;
  }

  &.icon-bg:focus:not(:focus-visible) {
    border: 2px solid variables.$grey-light;
  }

  &.icon-smaller:focus:not(:focus-visible) {
    border: 0;
  }

  &.icon-smallest:focus:not(:focus-visible) {
    border: 0;
  }
}

button.active,
.button.active {
  &.light:not([class*='icon']) {
    background-color: variables.$grey-lighter;
  }
}

.button-group {
  &.divider-horizontal > .button,
  &.divider-horizontal > button {
    border-right: 1px solid $button-divider-color;
  }

  &.divider-horizontal > .button:last-child,
  &.divider-horizontal > button:last-child {
    border-right: 0;
  }

  &.divider-vertical > .button,
  &.divider-vertical > button {
    border-bottom: 1px solid $button-divider-color;
  }

  &.divider-vertical > .button:last-child,
  &.divider-vertical > button:last-child {
    border-right: 0;
  }
}
