$button-color-default: $white;
$button-scale: $base-scale;
$button-round: $radius-round;
$button-padding-compact: 0;
$button-padding-smallest: $padding-smallest;
$button-padding-small: $padding-smaller $padding-smaller * 1.5;
$button-padding-medium: $padding-small $padding-small * 1.5;
$button-padding-large: $padding-standard $padding-standard * 1.5;
$button-divider-color: $grey-lighter;

.button,
button {
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0;
  overflow: hidden;
  padding: $button-padding-medium;
  width: auto;

  &.center {
    text-align: center;
  }

  &.medium {
    padding: $button-padding-medium;

    &.round {
      padding: $padding-small;
    }
  }

  &.large {
    padding: $button-padding-large;

    &.round {
      padding: $padding-standard;
    }
  }

  &.small {
    padding: $button-padding-small;

    &.round {
      padding: $padding-smaller;
    }
  }

  &.smallest {
    padding: $button-padding-smallest;

    &.round {
      padding: $padding-smallest;
    }
  }

  &.compact {
    padding: $button-padding-compact;
  }

  &.primary {
    background-color: $primary-color;
  }

  &.danger {
    background-color: $danger-color;
  }

  &.light {
    background-color: $light-color;
  }

  &.grey {
    background-color: $grey;
  }

  &.grey-light {
    background-color: $grey-light;
  }

  &.grey-lighter {
    background-color: $grey-lighter;
  }

  &.grey-lightest {
    background-color: $grey-lightest;
  }

  &.border {
    border: 2px solid $white;

    &.active {
      border: 2px solid $grey-light;
    }

    &.active:hover {
      border: 2px solid $grey-light;
    }

    &.active:focus {
      border: 2px solid $grey-light;
    }

    &.active:focus:not(:focus-visible) {
      border: 2px solid $grey-light;
    }
  }

  &.border:hover {
    border: 2px solid $grey-lighter;
  }

  &.border:focus {
    border: 2px solid $grey-lighter;
  }

  &.border:focus:not(:focus-visible) {
    border: 2px solid $grey-lighter;
  }

  &.border {
    &.primary {
      border: 2px solid $primary-color-light;
    }

    &.primary:hover {
      border: 2px solid $primary-color-dark;
    }

    &.primary:focus {
      border: 2px solid $primary-color-dark;
    }

    &.primary:focus:not(:focus-visible) {
      border: 2px solid $primary-color-dark;
    }

    &.primary {
      &.active {
        border: 2px solid $primary-color-dark;
      }
    }
  }

  &.round {
    border-radius: $button-round;

    [class*='icon'] > *,
    [class^='icon'] > * {
      border-radius: $button-round;
      overflow: hidden;
    }
  }
}

button,
.button {
  outline: none;
}

button:hover,
.button:hover {
  &.light:hover {
    background-color: $grey-lightest;
  }

  &.primary:hover {
    background-color: $primary-color-dark;
  }

  &.danger:hover {
    background-color: $danger-color-dark;
  }

  &.grey-light:hover {
    background-color: $grey;
  }

  &.grey-lighter:hover {
    background-color: $grey-light;
  }

  &.grey-lightest:hover {
    background-color: $grey-lighter;
  }
}

button:focus,
.button:focus {
  &.light:focus {
    background-color: $grey-light;
    border: 1px solid $black;
  }

  &.primary:focus {
    background-color: $primary-color-dark;
    border: 1px solid $black;
  }

  &.danger:focus {
    background-color: $danger-color-dark;
    border: 1px solid $black;
  }

  &.grey-light:focus {
    background-color: $grey;
    border: 1px solid $black;
  }

  &.grey-lighter:focus {
    background-color: $grey-light;
    border: 1px solid $black;
  }

  &.grey-lightest:focus {
    background-color: $grey-lighter;
    border: 1px solid $black;
  }

  &.icon-small:focus {
    border: 1px solid $black;
  }

  &.icon-smaller:focus {
    border: 1px solid $black;
  }
}

button:focus:not(:focus-visible),
.button:focus:not(:focus-visible) {
  &.light:focus:not(:focus-visible) {
    background-color: $light-color;
    border: 0;
  }

  &.primary:focus:not(:focus-visible) {
    background-color: $primary-color;
    border: 0;
  }

  &.danger:focus:not(:focus-visible) {
    background-color: $danger-color;
    border: 0;
  }

  &.grey-light:focus:not(:focus-visible) {
    background-color: $grey-light;
    border: 0;
  }

  &.grey-lighter:focus:not(:focus-visible) {
    background-color: $grey-lighter;
    border: 0;
  }

  &.grey-lightest:focus:not(:focus-visible) {
    background-color: $grey-lightest;
    border: 0;
  }

  &.icon-small:focus:not(:focus-visible) {
    border: 0;
  }

  &.icon-smaller:focus:not(:focus-visible) {
    border: 0;
  }
}

button.active,
.button.active {
  &.light:not([class*='icon']) {
    background-color: $grey-lighter;
  }
}

.button-group {
  &.divider-horizontal > .button,
  &.divider-horizontal > button {
    border-right: 1px solid $button-divider-color;
  }

  &.divider-horizontal > .button:last-child,
  &.divider-horizontal > button:last-child {
    border-right: 0;
  }

  &.divider-vertical > .button,
  &.divider-vertical > button {
    border-bottom: 1px solid $button-divider-color;
  }

  &.divider-vertical > .button:last-child,
  &.divider-vertical > button:last-child {
    border-right: 0;
  }
}
