$icon-size-smallest: $size-1;
$icon-size-smaller: $size-1-125;
$icon-size-small: $size-4;
$icon-size-medium: $size-5;
$icon-size-large: $size-6;
$icon-active-color: $primary-color;
$icon-inactive-color: $grey;
$icon-disabled-color: $grey-light;
$icon-default-color: $grey-dark;
$icon-primary-color: $primary-color;
$icon-primary-inverse-color: $primary-color-inverse;

.icon-smallest:not(.button):not(button) {
  height: $icon-size-smallest;
  width: $icon-size-smallest;
}
.icon-smaller:not(.button):not(button) {
  height: $icon-size-smaller;
  width: $icon-size-smaller;
}
.icon-small:not(.button):not(button) {
  height: $icon-size-small;
  width: $icon-size-small;
}
.icon-medium:not(.button):not(button) {
  height: $icon-size-medium;
  width: $icon-size-medium;
}
.icon-large:not(.button):not(button) {
  height: $icon-size-large;
  width: $icon-size-large;
}

.button,
button {
  &.icon {
    margin: 0;
    padding: 0;
  }
  .icon {
    display: inline-block;
  }
  &.icon-smallest .icon,
  &.icon-smallest .icon > * {
    height: $icon-size-smallest;
    width: $icon-size-smallest;
  }
  &.icon-smaller .icon,
  &.icon-smaller .icon > * {
    height: $icon-size-smaller;
    width: $icon-size-smaller;
  }
  &.icon-small .icon,
  &.icon-small .icon > * {
    height: $icon-size-small;
    width: $icon-size-small;
  }
  &.icon-medium .icon,
  &.icon-medium .icon > * {
    height: $icon-size-medium;
    width: $icon-size-medium;
  }
  &.icon-large .icon,
  &.icon-large .icon > * {
    height: $icon-size-large;
    width: $icon-size-large;
  }
}

.button[class^="icon"],
.button[class*="icon"],
button[class^="icon"],
button[class*="icon"] {
  line-height: 0;
}
.button svg,
button svg {
  fill: $icon-default-color;
  height: inherit;
  width: inherit;
}
.button.active svg,
button.active svg {
  fill: $icon-active-color;
}
.button.inactive svg,
button.inactive svg {
  fill: $icon-inactive-color;
}
.button.disabled svg,
button.disabled svg {
  fill: $icon-disabled-color;
}
.button.primary svg,
button.primary svg {
  fill: $icon-primary-inverse-color;
}
button.grey-light svg,
.button.grey-light svg,
.button.grey svg,
button.grey svg {
  fill: $white;
}
svg {
  &.primary {
    fill: $icon-primary-color;
  }
  &.primary-inverse {
    fill: $icon-primary-inverse-color;
  }
  &.grey-dark {
    fill: $grey-dark;
  }
  &.grey {
    fill: $grey;
  }
  &.grey-light {
    fill: $grey-light;
  }
  &.grey-lighter {
    fill: $grey-lighter;
  }
  &.grey-lightest {
    fill: $grey-lightest;
  }
  &.white {
    fill: $white;
  }
}

img.cover {
  object-fit: cover;
}
img.contain {
  object-fit: contain;
}
img.scale-down {
  object-fit: scale-down;
}
