$input-range-track-color: $grey-lighter;
$input-range-track-height: 0.3125rem;
$input-range-thumb-color: $grey-dark;
$input-range-thumb-size: .875rem;
$input-range-margin-top: -$input-range-track-height;


input[type=range].grey::-webkit-slider-runnable-track {
  height: $input-range-track-height;
  background: $input-range-track-color;
  border: none;
  border-radius: $input-range-track-height / 2;
}

input[type=range].grey::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  box-shadow: $shadow;
  cursor: pointer;
  height: $input-range-thumb-size;
  width: $input-range-thumb-size;
  border-radius: 50%;
  background: $input-range-thumb-color;
  margin-top: $input-range-margin-top;
}

input[type=range].grey:focus {
  outline: none;
}

input[type=range].grey:focus::-webkit-slider-runnable-track {
  background: $input-range-track-color;
}


// firefox
input[type=range].grey{
  border: 1px solid $white; 
}

input[type=range].grey::-moz-range-track {
  height: $input-range-track-height;
  background: $input-range-track-color;
  border: none;
  border-radius: $input-range-track-height / 2;
}

input[type=range].grey::-moz-range-thumb {
  border: none;
  box-shadow: $shadow;
  cursor: pointer;
  height: $input-range-thumb-size;
  width: $input-range-thumb-size;
  border-radius: 50%;
  background: $input-range-thumb-color;
}

input[type=range].grey:-moz-focusring{
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range].grey:focus::-moz-range-track {
  background: $input-range-track-color;
}

input[type=range].grey::-moz-focus-outer {
  border: none;
}


// internet explorer
input[type=range].grey::-ms-track {
  height: $input-range-track-height;
  background: $input-range-track-color;;
  border-color: transparent;
  border-width: 1px 0;
  border-radius: $input-range-track-height / 2;
  color: transparent;
}
input[type=range].grey::-ms-thumb {
  border: none;
  box-shadow: $shadow;
  cursor: pointer;
  height: $input-range-thumb-size;
  width: $input-range-thumb-size;
  border-radius: 50%;
  background: $input-range-thumb-color;
  margin-top: 0;
}
input[type=range].grey::-ms-fill-lower {
  background: $input-range-track-color;
}
input[type=range].grey::-ms-fill-upper {
  background: $input-range-track-color;
}
input[type=range].grey:focus::-ms-fill-lower {
  background: $input-range-track-color;
}
input[type=range].grey:focus::-ms-fill-upper {
  background: $input-range-track-color;
}
