$button-padding-medium: $padding-small $padding-small * 1.5;
$placeholder-text-smaller: $font-size-smaller;
$placeholder-text-small: $font-size-small;

input::-ms-clear {
  display: none;
}

// form
textarea,
select,
input {
  border: 1px solid $border-color;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: Arial;
  font-size: $font-size-normal;
  line-height: $line-height-base;
  margin-bottom: .375rem;
  padding: $button-padding-medium;
  resize: vertical;

  &.grey {
    background-color: $grey-lightest;
  }

  &.grey::placeholder {
    color: $grey-dark;
  }

  &.small {
    font-size: $font-size-small;
    line-height: $line-height-small;
  }

  &.smaller {
    font-size: $font-size-smaller;
    line-height: $line-height-small;
  }

  &.placeholder-text-small::placeholder {
    font-size: $placeholder-text-small;
  }

  &.placeholder-text-smaller::placeholder {
    font-size: $placeholder-text-smaller;
  }
}

input[type=text] {
  &.search {
    border: 0;
    margin: 0;
    max-width: 100%;
    outline: none;
    padding: 0 $padding-smaller;
  }
}

label {
  font-size: $font-size-normal;
  font-weight: $font-weight-bold;
  line-height: $line-height-base;
}

input[type=checkbox] {
  color: $white;
  height: 1rem;
  line-height: 1.5rem;
  margin: .25rem;
  vertical-align: bottom;
  width: 1rem;
}

input[type=button] {
  background-color: $white;
  border-radius: 3px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: $border-color;
}

// range
input[type=range] {
  appearance: none;
  border: 0;
  height: 24px;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 0;
}

input[type=range]:focus {
  outline: none;
  border: 1px solid $black;
}

input[type=range]::-webkit-slider-runnable-track {
  animation: 0.2s;
  background: $primary-color;
  border-radius: 3px;
  cursor: pointer;
  height: 4px;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background: $white;
  border: 1px solid $grey-lightest;
  border-radius: 25px;
  box-shadow: 1px 1px 4px $grey-dark;
  cursor: pointer;
  height: 16px;
  margin-top: -6.5px;
  width: 16px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: $primary-color;
}

input[type=range]::-moz-range-track {
  animation: 0.2s;
  background: $primary-color;
  border-radius: 3px;
  cursor: pointer;
  height: 4px;
}

input[type=range]::-moz-range-thumb {
  background: $white;
  border: 1px solid $grey-lightest;
  border-radius: 25px;
  box-shadow: 1px 1px 4px $grey-dark;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

input[type=range]::-ms-track {
  animation: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
  cursor: pointer;
  height: 4px;
}

input[type=range]::-ms-fill-lower {
  background: $primary-color;
  border-radius: 6px;
}

input[type=range]::-ms-fill-upper {
  background: $primary-color;
  border-radius: 6px;
}

input[type=range]::-ms-thumb {
  background: $white;
  border: 1px solid $grey-lightest;
  border-radius: 25px;
  box-shadow: 1px 1px 4px $grey-dark;
  cursor: pointer;
  height: 14px;
  margin-top: 1px;
  width: 16px;
}

input[type=range]:focus::-ms-fill-lower {
  background: $primary-color;
}

input[type=range]:focus::-ms-fill-upper {
  background: $primary-color;
}

input[type=range]::-ms-tooltip {
  display: none;
}
