$button-padding-medium: $padding-small $padding-small * 1.5;

input::-ms-clear {
  display: none;
}

// form
textarea,
select,
input {
  border: 1px solid $border-color;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: Arial;
  font-size: $font-size-normal;
  line-height: $line-height-base;
  margin-bottom: .375rem;
  padding: $button-padding-medium;
  &.grey {
    background-color: $grey-lightest;
  }
  &.grey::placeholder {
    color: $grey-dark;
  }
  &.small {
    font-size: $font-size-small;
    line-height: $line-height-small;
  }
}
input {
  &.search {
    border: none;
    margin: 0;
    padding: 0 $padding-smaller;
    max-width: 100%;
    outline: none;
  }
}
label {
  font-weight: $font-weight-bold;
  font-size: $font-size-normal;;
  line-height: $line-height-base;
}
input[type=checkbox] {
  color: $white;
  height: 1rem;
  line-height: 1.5rem;
  margin: .25rem;
  vertical-align: bottom;
  width: 1rem;
}
input[type=button] {
  background-color: $white;
  border-radius: 3px;
  cursor: pointer;
}
input[type=button]:hover {
  background-color: $border-color;
}