@use './variables';

$list-border: 1px solid variables.$border-color;
$list-spacer: .25rem;
$list-spacer-divided: .75rem;

.list {
  > li,
  > .item {
    padding-bottom: $list-spacer;
    padding-top: $list-spacer;  
  }

  > li:first-child,
  
  > .item:first-child {
    padding-top: $list-spacer * 2;
  }

  > li:last-child,
  
  > .item:last-child {
    padding-bottom: $list-spacer * 2;
  }    

  &.divided > .item {
    border-bottom: $list-border;
    padding-bottom: $list-spacer-divided;
    padding-top: $list-spacer-divided;      
  }

  &.divided > .item:first-child {
    padding-top: $list-spacer-divided;
  }

  &.divided > .item:last-child {
    border: 0;
    padding-bottom: $list-spacer-divided;
  }

  &.divider-start > li:first-child {
    border-top: 'none';
  }

  &.divider-end > li:last-child {
    border-bottom: $list-border;
  }

  &.divider-end-rootgroup > li:last-child {
    border-bottom: 'none';
  }

  &.divider-end > li:last-child .divider-end > li:last-child {
    border-bottom: 'none';
  }

  &.divider-end > li:last-child .divider-end > li:last-child {
    border-bottom: 'none';
  }

  &.divider-end > li:last-child li:not(:last-child) .divider-end > li:last-child {
    border-bottom: $list-border;
  }    
}
