$popup-background-color: $white !default;
$popup-radius: $radius-base;
$popup-border-color: $grey-light;

.popup-menu {
  position: absolute;
  background-color: $popup-background-color;
  border-radius: $popup-radius;
  box-shadow: $shadow;
  overflow-x: hidden;
  overflow-y: hidden;
}

.popup-menu > ul {

  > li {
    margin: $margin-small;
  }
}
