@use './variables';

$popup-background-color: variables.$white !default;
$popup-radius: variables.$radius-base;
$popup-border-color: variables.$grey-light;

.popup-menu {
  position: absolute;
  background-color: $popup-background-color;
  border-radius: $popup-radius;
  box-shadow: variables.$shadow;
  overflow-x: hidden;
  overflow-y: hidden;
}

.popup-menu > ul {

  > li {
    margin: variables.$margin-small;
  }
}

.popup-menu.overlay-popup {
  position: relative;
  text-align: right;
  right: 30px;
  margin-top: -30px;
  width: max-content;
}

.popup-menu.button-popup {
  position: absolute;
  text-align: left;
  width: max-content;
  bottom: 5px;
  left: 0;
}
