@use './variables';

.o-scrollbar::-webkit-scrollbar {
  width: variables.$scrollbar-px-width;
}

.o-scrollbar {
  scrollbar-color: variables.$scrollbar-thumb variables.$scrollbar-bg;
  scrollbar-width: thin;
}

.o-scrollbar::-webkit-scrollbar-track {
  background: variables.$scrollbar-bg;
}

.o-scrollbar::-webkit-scrollbar-thumb {
  background-color: variables.$scrollbar-thumb;
  border: 3px solid variables.$scrollbar-bg;
  border-radius: 6px;
}
