.slidenav {
  box-sizing: border-box;
  display: inline-block;
  line-height: 0;
  position: relative;
  transition: height 0.3s;

  >.main {
    box-sizing: border-box;
    display: inline-block;
    left: 0;
    position: relative;
    top: 0;
    transition: all 0.3s;
    width: 100%;
    will-change: transform;

    &.absolute {
      position: absolute;
    }    
  }

  >.secondary {
    background-color: #fff;
    box-sizing: border-box;
    display: inline-block;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    transition: all 0.3s;
    width: 100%;
    will-change: transform;
    z-index: 1000;
    height: unset;

    &.absolute {
      position: absolute;
      height: 0;
    }
  }

  &.right {
    .secondary {
      transform: translateX(100%);
    }
  }

  &.left {
    .secondary {
      transform: translateX(-100%);
    }
  }  

  &.slide-secondary {
    &.right {
      .main {
        transform: translateX(-20%);
      }
    }

    &.left {
      .main {
        transform: translateX(20%);
      }  
    }  

    .secondary {
      opacity: 1;
      transform: none;
    }
    
    overflow: hidden
  }  
}
