@use './variables';
@use './utils/mixins';
@use './base/base';
@use './control';
@use './container';
@use './dropdown';
@use './flex';
@use './grid';
@use './box';
@use './input';
@use './button';
@use './collapse';
@use './icon';
@use './divider';
@use './list';
@use './toggle-group';
@use './slidenav';
@use './scrollbar';
@use './helpers/helpers';
@use './group-indication';
@use './popup-menu';

.o-ui {
  font-family: variables.$font-family-base;
  font-size: variables.$font-size-base;
  font-weight: variables.$font-weight-base;
  line-height: variables.$line-height-base;
  position: absolute;
  width: 100%;
}

.app {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
