@import './variables';

.o-ui {
  @import './utils/mixins';
  @import './base/base';
  @import './control';
  @import './container';
  @import './dropdown';
  @import './flex';
  @import './grid';
  @import './box';
  @import './input';
  @import './button';
  @import './collapse';
  @import './icon';
  @import './divider';
  @import './list';
  @import './toggle-group';
  @import './slidenav';
  @import './scrollbar';
  @import './helpers/helpers';
  @import './group-indication';
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  position: absolute;
  width: 100%;
}

.app {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
