.validate > {
  .errorMsg {
    color: $orange;
  }

  input:optional {
    border-color: $grey-lightest;
  }

  input:required:invalid {
    border-color: $orange;
  }

  input:invalid {
    border-color: $orange;
  }
}
