@use './minireset';
@use '../variables';

button,
input,
select,
textarea {
  font-family: variables.$font-family-base;
}

input[type=text],
textarea {
  appearance: none;
  appearance: none;
  appearance: none;
}

textarea {
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  margin-bottom: variables.$headings-margin-bottom;
}

h1,
.h1 {
  font-size: variables.$h1-font-size;
  line-height: variables.$line-height-smaller;
}

h2,
.h2 {
  font-size: variables.$h2-font-size;
  line-height: variables.$line-height-small;
}

h3,
.h3 { font-size: variables.$h3-font-size; }

h4,
.h4 { font-size: variables.$h4-font-size; }

h5,
.h5 { font-size: variables.$h5-font-size; }

h6,
.h6 { font-size: variables.$h6-font-size; }

p {
  line-height: variables.$line-height-small;
}

li {
  list-style: none;
}

a {
  color: variables.$link-color;

  strong {
    color: currentColor;
  }

  &:hover {
    color: variables.$link-hover;
  }
}
// Workaround for IE. If not applied causes IE to freeze if svg is removed from dom
svg use { pointer-events: none; }
