.glide {
  &__bullets {
    position: relative;
    top: 0.05em;
    padding-bottom: 0.05em;
    display: block;
    text-align: center;
  }

  &__bullet {
    background-color: $o-glide-bullets-color;
    padding: 0.4em;

    &--active {
      background-color: $o-glide-bullets-color--active;
    }

    &:hover {
      background-color: $o-glide-bullets-color-hover
    }
    &:focus {
      background-color: $o-glide-bullets-color-focus
    }

  }

}
