@use './variables';

.glide {
  &_arrows {
    padding: variables.$o-glide-button-padding;
    position: relative;
    padding-bottom: 0.2em;
  }
   &__arrow {
    padding: .3em;
    border: 1px solid variables.$o-glide-border-color;
    color: variables.$o-glide-arrow-color;
    border-radius: 50%;
  }
 }

 button.glide {
   color: variables.$o-glide-border-color;
  &__arrow {
    &--left {
      left: variables.$o-glide-button-spsce;
    }

    &--right {
      right: variables.$o-glide-button-spsce;
    }
  }
}
