$o-glide-arrow-color: rgba(255, 0, 0, 1);

$o-glide-button-spsce: calc(50% - .3em * 8.5);
$o-glide-button-padding: calc(5% + 1em);
$o-glide-border-color: rgba(25, 25, 25, 0.25);

$o-glide-bullets-color: rgba(45, 45, 45, 0.25);
$o-glide-bullets-color--active: rgba(45, 45, 45, 0.5);
$o-glide-bullets-color-focus: rgba(45, 45, 45, 0.5);
$o-glide-bullets-color-hover: rgba(45, 45, 45, 0.8);
