<div class="o-container-fluid o-downloader">
  <div class="o-card">
    <div class="o-card-header o-text-center">
      <h6 class="o-card-heading">Nedladdningar</h6>
      <div class="o-close-button">
        <svg class="o-icon-fa-times"><use xlink:href="#fa-times"></use></svg>
      </div>
    </div>
    <div class="o-card-content">
      <table class ="o-table">

      </table>
    </div>
  </div>
</div>
