<div class="o-container-fluid o-downloader">
  <div class="o-card">
    <div class="o-close-button"><svg class="o-icon-fa-times"><use xlink:href="#fa-times"></use></svg></div>
    <header class="o-card-title">
      Nedladdningar
    </header>
    <div class="o-card-content">
      <table class ="o-table">

      </table>
    </div>
  </div>
</div>
