.awesomplete [hidden] {
  display: none;
}

.awesomplete .visually-hidden {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.awesomplete {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  position: relative;
  width: 100%;
}

.awesomplete.black {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  position: fixed;
  min-width: 100%;
}

.awesomplete > input {
  display: block;
}

.awesomplete > ul {
  background: #fff;
  box-sizing: border-box;
  left: 0;
  list-style: none;
  margin: 0;
  min-width: 100%;
  padding: 0;
  position: absolute;
  top: 40px;
  z-index: 1;
}

.awesomplete.black > ul {
  background: #000 !important;
  box-sizing: border-box;
  color: #fff;
  left: 0px;
  list-style: none;
  margin: 0;
  min-width: 180px;
  max-width: 220px;
  overflow-wrap: break-word;
  padding: 0;
  position: absolute;
  top: auto;
  bottom: 100%;
  z-index: 9999999;
}

.awesomplete > ul:empty {
  display: none;
}
