.awesomplete > ul {
  background: hsla(0, 0%, 100%, .9);
  background: linear-gradient(to bottom right, $white, hsla(0, 0%, 100%, .8));
  border-radius: 0.3rem;
  box-shadow: $shadow;
  margin: 0.2em 0 0;
  min-width: $search-width;
  text-shadow: none;
}
@supports (transform: scale(0)) {
  .awesomplete > ul {
    transform-origin: 1.43em -.43em;
    transition: 0.3s cubic-bezier(.4, .2, .5, 1.4);
  }

  .awesomplete > ul:empty,
  .awesomplete > ul[hidden] {
    display: block;
    opacity: 0;
    transform: scale(0);
    transition-timing-function: ease;
  }
}

.awesomplete > ul > li {
  border-bottom: 1px solid $search-border-color;
  cursor: pointer;
  font-size: 0.75rem;
  padding: 0;
  position: relative;
}

.awesomplete > ul > li > .suggestion {
  padding: 0.75rem;
}

.awesomplete > ul > li:last-child {
  border-bottom: 'none';
}

.awesomplete > ul > li.header {
  margin-top: 1.75rem;
}

.awesomplete > ul > li > .heading {
  background-color: $search-heading-backround;
  cursor: default;
  display: block;
  font-size: .75rem;
  font-weight: bold;
  line-height: .75rem;
  margin: 0;
  margin-top: -1.75rem;
  padding: .5rem .75rem;
}

.awesomplete > ul > li .suggestion:hover {
  background-color: $search-hover-backround;
  color: #000;
}

.awesomplete > ul > li[aria-selected='true'] > .suggestion {
  background-color: $search-hover-backround;
  color: #000;
}

.awesomplete mark {
  background: none;
  font-weight: bold;
}

.black mark {
  color: #aaa;
}

.awesomplete li .suggestion:hover mark {
  background-color: $search-hover-backround;
}

.black li .suggestion:hover mark {
  background-color: #fff;
}

.awesomplete li[aria-selected='true'] mark {
  background-color: $search-hover-backround;
}

&[class*=#{$media-l-m}] {
  .awesomplete > ul {
    max-width: calc(100% + 2rem);
    min-width: calc(100% + 2rem);
  }
}
