.awesomplete > ul {
	border-radius: 0.3rem;
	margin: 0.2em 0 0;
	background: hsla(0,0%,100%,.9);
	background: linear-gradient(to bottom right, white, hsla(0,0%,100%,.8));
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: 0.05em 0.2em 0.6em rgba(0,0,0,.2);
	text-shadow: none;
	min-width: $search-width;
}
@supports (transform: scale(0)) {
	.awesomplete > ul {
		transition: 0.3s cubic-bezier(.4,.2,.5,1.4);
		transform-origin: 1.43em -.43em;
	}

	.awesomplete > ul:empty,
	.awesomplete > ul[hidden] {
		opacity: 0;
		transform: scale(0);
		display: block;
		transition-timing-function: ease;
	}
}

.awesomplete > ul > li {
	border-bottom: 1px solid $search-border-color;
	font-size: 0.75rem;
	position: relative;
	padding: 0;
	cursor: pointer;
}

.awesomplete > ul > li > .suggestion {
	padding: 0.75rem;
}

.awesomplete > ul > li:last-child {
	border-bottom: none;
}

.awesomplete > ul > li.header {
	margin-top: 1.75rem;
}

.awesomplete > ul > li > .heading {
	background-color: $search-heading-backround;
	cursor: default;
	display: block;
	font-size: .75rem;
	font-weight: bold;
	line-height: .75rem;
	margin: 0;
	margin-top: -1.75rem;
	padding: .5rem .75rem;
}

.awesomplete > ul > li .suggestion:hover {
	background-color: $search-hover-backround;
	color: #000;
}

.awesomplete > ul > li[aria-selected="true"] {
	background-color: $search-hover-backround;
	color: #000;
}

.awesomplete mark {
	background: none;
	font-weight: bold;
}

.awesomplete li .suggestion:hover mark {
	background-color: $search-hover-backround;
}

.awesomplete li[aria-selected="true"] mark {
	background-color: $search-hover-backround;
}

&[class*=#{$media-l}] {
	.awesomplete > ul {
		min-width: 100%;
	}
}
