.cu {
  /*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  position: absolute;
  width: 100%; }
  .cu html,
  .cu body,
  .cu p,
  .cu ol,
  .cu ul,
  .cu li,
  .cu dl,
  .cu dt,
  .cu dd,
  .cu blockquote,
  .cu figure,
  .cu fieldset,
  .cu legend,
  .cu textarea,
  .cu pre,
  .cu iframe,
  .cu hr,
  .cu h1,
  .cu h2,
  .cu h3,
  .cu h4,
  .cu h5,
  .cu h6 {
    margin: 0;
    padding: 0; }
  .cu h1,
  .cu h2,
  .cu h3,
  .cu h4,
  .cu h5,
  .cu h6 {
    font-size: 100%;
    font-weight: normal; }
  .cu ul {
    list-style: none; }
  .cu button,
  .cu input,
  .cu select,
  .cu textarea {
    margin: 0; }
  .cu html {
    box-sizing: border-box; }
  .cu *, .cu *:before, .cu *:after {
    box-sizing: inherit; }
  .cu img,
  .cu embed,
  .cu iframe,
  .cu object,
  .cu audio,
  .cu video {
    height: auto;
    max-width: 100%; }
  .cu iframe {
    border: 0; }
  .cu table {
    border-collapse: collapse;
    border-spacing: 0; }
  .cu td,
  .cu th {
    padding: 0;
    text-align: left; }
  .cu button,
  .cu input,
  .cu select,
  .cu textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }
  .cu h1, .cu h2, .cu h3, .cu h4, .cu h5, .cu h6,
  .cu .h1, .cu .h2, .cu .h3, .cu .h4, .cu .h5, .cu .h6 {
    margin: 0;
    margin-bottom: 0.5rem; }
  .cu h1, .cu .h1 {
    font-size: 2.5rem;
    line-height: 1.125; }
  .cu h2, .cu .h2 {
    font-size: 2rem;
    line-height: 1.25; }
  .cu h3, .cu .h3 {
    font-size: 1.75rem; }
  .cu h4, .cu .h4 {
    font-size: 1.5rem; }
  .cu h5, .cu .h5 {
    font-size: 1.25rem; }
  .cu h6, .cu .h6 {
    font-size: 1rem; }
  .cu li {
    list-style: none; }
  .cu a {
    color: #008ff5; }
    .cu a strong {
      color: currentColor; }
    .cu a:hover {
      color: #b5b5b5; }
  .cu svg use {
    pointer-events: none; }
  .cu .fade-in {
    animation: 0.3s fade-in ease; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .cu .bg-primary {
    background-color: #008ff5; }
  .cu .bg-black {
    background-color: black; }
  .cu .bg-white {
    background-color: white; }
  .cu .bg-red {
    background-color: #c33932; }
  .cu .bg-orange {
    background-color: #ff9500; }
  .cu .bg-yellow {
    background-color: #ffcc00; }
  .cu .bg-green {
    background-color: #4eda65; }
  .cu .bg-blue {
    background-color: #008ff5; }
  .cu .bg-purple {
    background-color: #5957d6; }
  .cu .bg-pink {
    background-color: #ff2e54; }
  .cu .bg-grey-darker {
    background-color: #363636; }
  .cu .bg-grey-dark {
    background-color: #4a4a4a; }
  .cu .bg-grey {
    background-color: #7a7a7a; }
  .cu .bg-grey-light {
    background-color: #b5b5b5; }
  .cu .bg-grey-lighter {
    background-color: #dbdbdb; }
  .cu .bg-grey-lightest {
    background-color: #ebebeb; }
  .cu .margin {
    margin: 0.75rem; }
  .cu .margin-top {
    margin-top: 0.75rem; }
  .cu .margin-right {
    margin-right: 0.75rem; }
  .cu .margin-bottom {
    margin-bottom: 0.75rem; }
  .cu .margin-left {
    margin-left: 0.75rem; }
  .cu .margin-x {
    margin-left: 0.75rem;
    margin-right: 0.75rem; }
  .cu .margin-y {
    margin-bottom: 0.75rem;
    margin-top: 0.75rem; }
  .cu .margin-large {
    margin: 1rem; }
  .cu .margin-top-large {
    margin-top: 1rem; }
  .cu .margin-right-large {
    margin-right: 1rem; }
  .cu .margin-bottom-large {
    margin-bottom: 1rem; }
  .cu .margin-left-large {
    margin-left: 1rem; }
  .cu .margin-x-large {
    margin-left: 1rem;
    margin-right: 1rem; }
  .cu .margin-y-large {
    margin-bottom: 1rem;
    margin-top: 1rem; }
  .cu .margin-small {
    margin: 0.5rem; }
  .cu .margin-top-small {
    margin-top: 0.5rem; }
  .cu .margin-right-small {
    margin-right: 0.5rem; }
  .cu .margin-bottom-small {
    margin-bottom: 0.5rem; }
  .cu .margin-left-small {
    margin-left: 0.5rem; }
  .cu .margin-x-small {
    margin-left: 0.5rem;
    margin-right: 0.5rem; }
  .cu .margin-y-small {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem; }
  .cu .margin-smaller {
    margin: 0.25rem; }
  .cu .margin-top-smaller {
    margin-top: 0.25rem; }
  .cu .margin-right-smaller {
    margin-right: 0.25rem; }
  .cu .margin-bottom-smaller {
    margin-bottom: 0.25rem; }
  .cu .margin-left-smaller {
    margin-left: 0.25rem; }
  .cu .margin-x-smaller {
    margin-left: 0.25rem;
    margin-right: 0.25rem; }
  .cu .margin-y-smaller {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem; }
  .cu .margin-smallest {
    margin: 0.125rem; }
  .cu .margin-top-smallest {
    margin-top: 0.125rem; }
  .cu .margin-right-smallest {
    margin-right: 0.125rem; }
  .cu .margin-bottom-smallest {
    margin-bottom: 0.125rem; }
  .cu .margin-left-smallest {
    margin-left: 0.125rem; }
  .cu .margin-x-smallest {
    margin-left: 0.125rem;
    margin-right: 0.125rem; }
  .cu .margin-y-smallest {
    margin-bottom: 0.125rem;
    margin-top: 0.125rem; }
  .cu .padding {
    padding: 0.75rem; }
  .cu .padding-top {
    padding-top: 0.75rem; }
  .cu .padding-right {
    padding-right: 0.75rem; }
  .cu .padding-bottom {
    padding-bottom: 0.75rem; }
  .cu .padding-left {
    padding-left: 0.75rem; }
  .cu .padding-x {
    padding-left: 0.75rem;
    padding-right: 0.75rem; }
  .cu .padding-y {
    padding-bottom: 0.75rem;
    padding-top: 0.75rem; }
  .cu .padding-large {
    padding: 1rem; }
  .cu .padding-top-large {
    padding-top: 1rem; }
  .cu .padding-right-large {
    padding-right: 1rem; }
  .cu .padding-bottom-large {
    padding-bottom: 1rem; }
  .cu .padding-left-large {
    padding-left: 1rem; }
  .cu .padding-x-large {
    padding-left: 1rem;
    padding-right: 1rem; }
  .cu .padding-y-large {
    padding-bottom: 1rem;
    padding-top: 1rem; }
  .cu .padding-small {
    padding: 0.5rem; }
  .cu .padding-top-small {
    padding-top: 0.5rem; }
  .cu .padding-right-small {
    padding-right: 0.5rem; }
  .cu .padding-bottom-small {
    padding-bottom: 0.5rem; }
  .cu .padding-left-small {
    padding-left: 0.5rem; }
  .cu .padding-x-small {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  .cu .padding-y-small {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem; }
  .cu .padding-smaller {
    padding: 0.25rem; }
  .cu .padding-top-smaller {
    padding-top: 0.25rem; }
  .cu .padding-right-smaller {
    padding-right: 0.25rem; }
  .cu .padding-bottom-smaller {
    padding-bottom: 0.25rem; }
  .cu .padding-left-smaller {
    padding-left: 0.25rem; }
  .cu .padding-x-smaller {
    padding-left: 0.25rem;
    padding-right: 0.25rem; }
  .cu .padding-y-smaller {
    padding-bottom: 0.25rem;
    padding-top: 0.25rem; }
  .cu .padding-smallest {
    padding: 0.125rem; }
  .cu .padding-top-smallest {
    padding-top: 0.125rem; }
  .cu .padding-right-smallest {
    padding-right: 0.125rem; }
  .cu .padding-bottom-smallest {
    padding-bottom: 0.125rem; }
  .cu .padding-left-smallest {
    padding-left: 0.125rem; }
  .cu .padding-x-smallest {
    padding-left: 0.125rem;
    padding-right: 0.125rem; }
  .cu .padding-y-smallest {
    padding-bottom: 0.125rem;
    padding-top: 0.125rem; }
  .cu .bottom-right {
    bottom: 1rem;
    right: 1rem; }
    .cu .bottom-right.no-margin {
      bottom: 0;
      right: 0; }
  .cu .bottom-left {
    left: 1rem;
    bottom: 1rem; }
    .cu .bottom-left.no-margin {
      left: 0;
      bottom: 0; }
  .cu .top-left {
    left: 1rem;
    top: 1rem; }
    .cu .top-left.no-margin {
      left: 0;
      top: 0; }
  .cu .top-right {
    right: 1rem;
    top: 1rem; }
    .cu .top-right.no-margin {
      right: 0;
      top: 0; }
  .cu .bottom-center {
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%); }
    .cu .bottom-center.no-margin {
      bottom: 0; }
  .cu .top-center {
    left: 50%;
    top: 1rem;
    transform: translateX(-50%); }
    .cu .top-center.no-margin {
      top: 0; }
  .cu .center-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .cu .full {
    height: calc(100% - (1rem * 2));
    width: calc(100% - (1rem * 2)); }
  .cu .width-full {
    width: calc(100% - (1rem * 2)); }
  .cu .height-full {
    height: calc(100% - (1rem * 2)); }
  .cu .no-margin.full {
    height: 100%;
    width: 100%; }
  .cu .no-margin.height-full {
    height: 100%; }
  .cu .no-margin.width-full {
    width: 100%; }
  .cu .width-4 {
    width: 4rem; }
  .cu .width-8 {
    width: 8rem; }
  .cu .width-12 {
    width: 12rem; }
  .cu .width-16 {
    width: 16rem; }
  .cu .width-20 {
    width: 20rem; }
  .cu .width-24 {
    width: 24rem; }
  .cu .width-28 {
    width: 28rem; }
  .cu .width-32 {
    width: 32rem; }
  .cu .width-36 {
    width: 36rem; }
  .cu .width-40 {
    width: 40rem; }
  .cu .width-44 {
    width: 44rem; }
  .cu .width-48 {
    width: 48rem; }
  .cu .width-52 {
    width: 52rem; }
  .cu .width-56 {
    width: 56rem; }
  .cu .width-60 {
    width: 60rem; }
  .cu .width-64 {
    width: 64rem; }
  .cu .spacing-horizontal-large > * {
    margin: 0 0.75rem; }
  .cu .spacing-horizontal > * {
    margin: 0 0.5rem; }
  .cu .spacing-horizontal-small > * {
    margin: 0 0.25rem; }
  .cu .spacing-vertical-large > * {
    margin: 0.75rem 0; }
  .cu .spacing-vertical > * {
    margin: 0.5rem 0; }
  .cu .spacing-vertical-small > * {
    margin: 0.25rem 0; }
  .cu .spacing-horizontal-large:first-child,
  .cu .spacing-horizontal:first-child,
  .cu .spacing-horizontal-small:first-child {
    margin-left: 0; }
  .cu .spacing-horizontal-large:last-child,
  .cu .spacing-horizontal:last-child,
  .cu .spacing-horizontal-small:last-child {
    margin-right: 0; }
  .cu .spacing-vertical-large:first-child,
  .cu .spacing-vertical:first-child,
  .cu .spacing-vertical-small:first-child {
    margin-top: 0; }
  .cu .spacing-vertical-large:last-child,
  .cu .spacing-vertical:last-child,
  .cu .spacing-vertical-small:last-child {
    margin-bottom: 0; }
  .cu .text-primary {
    color: black; }
  .cu .text-inverse {
    color: white; }
  .cu .text-black {
    color: black; }
  .cu .text-white {
    color: white; }
  .cu .text-grey-dark {
    color: #363636; }
  .cu .text-grey {
    color: #7a7a7a; }
  .cu .text-grey-light {
    color: #b5b5b5; }
  .cu .text-grey-lighter {
    color: #dbdbdb; }
  .cu .text-red {
    color: #c33932; }
  .cu .text-orange {
    color: #ff9500; }
  .cu .text-yellow {
    color: #ffcc00; }
  .cu .text-green {
    color: #4eda65; }
  .cu .text-blue {
    color: #008ff5; }
  .cu .text-purple {
    color: #5957d6; }
  .cu .text-pink {
    color: #ff2e54; }
  .cu .text-small {
    font-size: 0.75rem; }
  .cu .text-normal {
    font-size: 1rem; }
  .cu .text-large {
    font-size: 1.25rem; }
  .cu .text-align-center {
    text-align: center; }
  .cu .text-align-left {
    text-align: left; }
  .cu .text-align-right {
    text-align: right; }
  .cu .text-align-justify {
    text-align: justify; }
  .cu .text-weight-light {
    font-weight: 300; }
  .cu .text-weight-normal {
    font-weight: 400; }
  .cu .text-weight-semibold {
    font-weight: 600; }
  .cu .text-weight-bold {
    font-weight: 700; }
  .cu .text-overflow-clip {
    text-overflow: clip; }
  .cu .text-overflow-ellipsis {
    text-overflow: ellipsis; }
  .cu .text-nowrap {
    white-space: nowrap; }
  .cu .text-fade:after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%);
    bottom: 0;
    content: "";
    height: 1.5rem;
    position: absolute;
    right: 0;
    text-align: right;
    width: 4rem; }
  .cu .text-height-large {
    line-height: 2rem; }
    .cu .text-height-large.text-fade:after {
      height: 2rem; }
  .cu .text-height-normal {
    line-height: 1.5rem; }
    .cu .text-height-normal.text-fade:after {
      height: 1.5rem; }
  .cu .text-height-small {
    line-height: 1.25rem; }
    .cu .text-height-small.text-fade:after {
      height: 1.25rem; }
  .cu .text-height-smaller {
    line-height: 1.125rem; }
    .cu .text-height-smaller.text-fade:after {
      height: 1.125rem; }
  .cu .text-height-smallest {
    line-height: 1rem; }
    .cu .text-height-smallest.text-fade:after {
      height: 1rem; }
  .cu .z-index-bottom {
    z-index: 0; }
  .cu .z-index-low {
    z-index: 25; }
  .cu .z-index-middle {
    z-index: 50; }
  .cu .z-index-high {
    z-index: 75; }
  .cu .z-index-top {
    z-index: 100; }
  .cu .transparent {
    background-color: transparent;
    pointer-events: none; }
  .cu .transparent > * {
    pointer-events: auto; }
  .cu .transparent > .transparent {
    pointer-events: none; }
  .cu .boxshadow-subtle {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2); }
  .cu .overflow-hidden {
    overflow: hidden; }
  .cu .overflow-scroll {
    overflow: scroll; }
  .cu .overflow-scroll-x {
    overflow-x: scroll; }
  .cu .overflow-scroll-y {
    overflow-y: scroll; }
  .cu .overflow-auto {
    overflow: auto; }
  .cu .overflow-auto-x {
    overflow-x: auto; }
  .cu .overflow-auto-y {
    overflow-y: auto; }
  .cu .absolute {
    position: absolute; }
  .cu .relative {
    position: relative; }
  .cu .block {
    display: block; }
  .cu .inline-block {
    display: inline-block; }
  .cu .box-shadow {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2); }
  .cu .box-shadow-subtle {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2); }
  .cu .round {
    border-radius: 50%;
    overflow: hidden; }
  .cu .rounded {
    border-radius: 0.25rem;
    overflow: hidden; }
  .cu .rounded-top {
    border-radius: 0.25rem 0.25rem 0 0;
    overflow: hidden; }
  .cu .rounded-right {
    border-radius: 0 0.25rem 0.25rem 0;
    overflow: hidden; }
  .cu .rounded-bottom {
    border-radius: 0 0 0.25rem 0.25rem;
    overflow: hidden; }
  .cu .rounded-left {
    border-radius: 0.25rem 0 0 0.25rem;
    overflow: hidden; }
  .cu .cursor-auto {
    cursor: auto; }
  .cu .cell {
    cursor: cell; }
  .cu .col-resize {
    cursor: col-resize; }
  .cu .copy {
    cursor: copy; }
  .cu .crosshair {
    cursor: crosshair; }
  .cu .cursor-default {
    cursor: default; }
  .cu .ew-resize {
    cursor: ew-resize; }
  .cu .grab {
    cursor: grab; }
  .cu .grabbing {
    cursor: grabbing; }
  .cu .help {
    cursor: help; }
  .cu .move {
    cursor: move; }
  .cu .ns-resize {
    cursor: ns-resize; }
  .cu .no-cursor {
    cursor: none; }
  .cu .pointer {
    cursor: pointer; }
  .cu .progress {
    cursor: progress; }
  .cu .cursor-text {
    cursor: text; }
  .cu .no-select {
    user-select: none; }
  .cu .hidden {
    display: none !important; }
  .cu .control {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
    z-index: 50; }
  .cu .container {
    display: flex;
    margin: 2rem;
    position: relative; }
    .cu .container.no-margin {
      margin: 0; }
  .cu .flex {
    display: flex; }
    .cu .flex.row {
      flex-direction: row; }
    .cu .flex.row-reverse {
      flex-direction: row-reverse; }
    .cu .flex.column {
      flex-direction: column; }
    .cu .flex.column-reverse {
      flex-direction: column-reverse; }
    .cu .flex .shrink {
      flex-shrink: 1; }
    .cu .flex .grow {
      flex-grow: 1; }
    .cu .flex .no-shrink {
      flex-shrink: 0; }
    .cu .flex .no-grow {
      flex-grow: 0; }
    .cu .flex .grow-all {
      flex-grow: 2; }
    .cu .flex .justify-start {
      justify-content: flex-start; }
    .cu .flex .justify-end {
      justify-content: flex-end; }
    .cu .flex .justify-center {
      justify-content: center; }
    .cu .flex .justify-space-between {
      justify-content: space-between; }
    .cu .flex .justify-space-evenly {
      justify-content: space-evenly; }
    .cu .flex .align-start {
      align-items: flex-start; }
    .cu .flex .align-end {
      align-items: flex-end; }
    .cu .flex .align-center {
      align-items: center; }
    .cu .flex .align-baseline {
      align-items: baseline; }
    .cu .flex .align-stretch {
      align-items: stretch; }
  .cu .grid {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem; }
  .cu .grid > * {
    flex: 1 0 5rem;
    margin: 0.5rem; }
  .cu .box {
    background-color: white;
    box-sizing: border-box;
    max-height: calc(100% - (1rem * 2));
    max-width: calc(100% - (1rem * 2));
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute; }
    .cu .box.no-margin {
      max-height: 100%;
      max-width: 100%; }
    .cu .box.transparent {
      background-color: transparent;
      overflow: visible; }
  .cu .button,
  .cu button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0.5rem 0.75rem;
    width: auto; }
    .cu .button.center,
    .cu button.center {
      text-align: center; }
    .cu .button.medium,
    .cu button.medium {
      padding: 0.5rem 0.75rem; }
      .cu .button.medium.round,
      .cu button.medium.round {
        padding: 0.5rem; }
    .cu .button.large,
    .cu button.large {
      padding: 0.75rem 1.125rem; }
      .cu .button.large.round,
      .cu button.large.round {
        padding: 0.75rem; }
    .cu .button.small,
    .cu button.small {
      padding: 0.25rem 0.375rem; }
      .cu .button.small.round,
      .cu button.small.round {
        padding: 0.25rem; }
    .cu .button.smallest,
    .cu button.smallest {
      padding: 0.125rem; }
      .cu .button.smallest.round,
      .cu button.smallest.round {
        padding: 0.125rem; }
    .cu .button.compact,
    .cu button.compact {
      padding: 0; }
    .cu .button.primary,
    .cu button.primary {
      background-color: #008ff5; }
    .cu .button.danger,
    .cu button.danger {
      background-color: #c33932; }
    .cu .button.light,
    .cu button.light {
      background-color: white; }
    .cu .button.grey,
    .cu button.grey {
      background-color: #7a7a7a; }
    .cu .button.grey-light,
    .cu button.grey-light {
      background-color: #b5b5b5; }
    .cu .button.grey-lighter,
    .cu button.grey-lighter {
      background-color: #dbdbdb; }
    .cu .button.grey-lightest,
    .cu button.grey-lightest {
      background-color: #ebebeb; }
    .cu .button.border,
    .cu button.border {
      border: 2px solid white; }
      .cu .button.border.active,
      .cu button.border.active {
        border: 2px solid #b5b5b5; }
      .cu .button.border.active:hover,
      .cu button.border.active:hover {
        border: 2px solid #b5b5b5; }
    .cu .button.border:hover,
    .cu button.border:hover {
      border: 2px solid #dbdbdb; }
    .cu .button.border.primary,
    .cu button.border.primary {
      border: 2px solid #33aaff; }
    .cu .button.border.primary:hover,
    .cu button.border.primary:hover {
      border: 2px solid #0080db; }
    .cu .button.border.primary.active,
    .cu button.border.primary.active {
      border: 2px solid #0080db; }
    .cu .button.round[class*='icon'] > *,
    .cu .button.round[class^='icon'] > *,
    .cu button.round[class*='icon'] > *,
    .cu button.round[class^='icon'] > * {
      border-radius: 50%;
      overflow: hidden; }
  .cu button,
  .cu .button {
    outline: none; }
  .cu button:hover.light:hover,
  .cu .button:hover.light:hover {
    background-color: #dbdbdb; }
  .cu button:hover.primary:hover,
  .cu .button:hover.primary:hover {
    background-color: #0080db; }
  .cu button:hover.danger:hover,
  .cu .button:hover.danger:hover {
    background-color: #ae332d; }
  .cu button:hover.grey-light:hover,
  .cu .button:hover.grey-light:hover {
    background-color: #7a7a7a; }
  .cu button:hover.grey-lighter:hover,
  .cu .button:hover.grey-lighter:hover {
    background-color: #b5b5b5; }
  .cu button:hover.grey-lightest:hover,
  .cu .button:hover.grey-lightest:hover {
    background-color: #dbdbdb; }
  .cu .collapse-container {
    overflow: hidden;
    position: relative;
    will-change: transform;
    transition: all 0.3s; }
  .cu .icon-smallest:not(.button):not(button) {
    height: 0.75rem;
    width: 0.75rem; }
  .cu .icon-smaller:not(.button):not(button) {
    height: 1.125rem;
    width: 1.125rem; }
  .cu .icon-small:not(.button):not(button) {
    height: 1.5rem;
    width: 1.5rem; }
  .cu .icon-medium:not(.button):not(button) {
    height: 2rem;
    width: 2rem; }
  .cu .icon-large:not(.button):not(button) {
    height: 2.5rem;
    width: 2.5rem; }
  .cu .button.icon,
  .cu button.icon {
    margin: 0;
    padding: 0; }
  .cu .button.icon-smallest .icon,
  .cu button.icon-smallest .icon {
    height: 0.75rem;
    width: 0.75rem; }
  .cu .button.icon-smaller .icon,
  .cu button.icon-smaller .icon {
    height: 1.125rem;
    width: 1.125rem; }
  .cu .button.icon-small .icon,
  .cu button.icon-small .icon {
    height: 1.5rem;
    width: 1.5rem; }
  .cu .button.icon-medium .icon,
  .cu button.icon-medium .icon {
    height: 2rem;
    width: 2rem; }
  .cu .button.icon-large .icon,
  .cu button.icon-large .icon {
    height: 2.5rem;
    width: 2.5rem; }
  .cu .button[class^="icon"],
  .cu .button[class*="icon"],
  .cu button[class^="icon"],
  .cu button[class*="icon"] {
    line-height: 0; }
  .cu .button svg,
  .cu button svg {
    fill: #4a4a4a;
    height: inherit;
    width: inherit; }
  .cu .button.active svg,
  .cu button.active svg {
    fill: #008ff5; }
  .cu .button.primary svg,
  .cu button.primary svg {
    fill: white; }
  .cu svg.primary {
    fill: #008ff5; }
  .cu img.cover {
    object-fit: cover; }
  .cu img.contain {
    object-fit: contain; }
  .cu img.scale-down {
    object-fit: scale-down; }
  .cu .divider {
    border-right: 1px solid #dbdbdb;
    display: inline-block;
    width: auto; }
    .cu .divider.horizontal {
      border-bottom: 1px solid #dbdbdb;
      border-right: none;
      line-height: 0;
      width: 100%; }
  .cu .list > .item {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; }
  .cu .list.divided > .item {
    border-bottom: 1px solid #dbdbdb; }
  .cu .list.divided > .item:last-child {
    border: none; }
  .cu .list.hover:hover,
  .cu li.hover:hover {
    background-color: #dbdbdb; }
  .cu .list.hover.light:hover,
  .cu li.hover.light:hover {
    background-color: #dbdbdb; }
  .cu .list.hover.primary:hover,
  .cu li.hover.primary:hover {
    background-color: #0080db; }
  .cu .list.hover.danger:hover,
  .cu li.hover.danger:hover {
    background-color: #ae332d; }
  .cu .list.hover.grey-light:hover,
  .cu li.hover.grey-light:hover {
    background-color: #7a7a7a; }
  .cu .list.hover.grey-lighter:hover,
  .cu li.hover.grey-lighter:hover {
    background-color: #b5b5b5; }
  .cu .list.hover.grey-lightest:hover,
  .cu li.hover.grey-lightest:hover {
    background-color: #dbdbdb; }
  .cu .toggle-group {
    display: inline-block; }
  .cu .sidenav {
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    position: relative;
    transition: all 0.3s; }
    .cu .sidenav .first {
      box-sizing: border-box;
      display: inline-block;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      transition: all 0.3s;
      width: 100%;
      will-change: transform; }
    .cu .sidenav .secondary {
      background-color: #fff;
      box-sizing: border-box;
      display: inline-block;
      position: absolute;
      overflow: hidden;
      width: 100%;
      left: 0;
      opacity: 0;
      top: 0;
      will-change: transform;
      transition: all 0.3s;
      z-index: 1000; }
    .cu .sidenav.right .secondary {
      transform: translateX(100%); }
    .cu .sidenav.left .secondary {
      transform: translateX(-100%); }
    .cu .sidenav.unfolded.right .first {
      transform: translateX(-20%); }
    .cu .sidenav.unfolded.left .first {
      transform: translateX(20%); }
    .cu .sidenav.unfolded .secondary {
      opacity: 1;
      transform: none; }

.app {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }
