/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  z-index: 1;

  .owl-stage {
    backface-visibility: hidden; /* fix firefox animation glitch */
    position: relative;
    touch-action: pan-Y;
    touch-action: manipulation;
  }

  .owl-stage::after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }

  .owl-stage-outer {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    /* fix for flashing background */
    transform: translate3d(0, 0, 0);
  }

  .owl-wrapper,
  .owl-item {
    backface-visibility: hidden;
    backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .owl-item {
    backface-visibility: hidden;
    float: left;
    min-height: 1px;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }

  .owl-item img {
    display: block;
    width: 100%;
  }

  .owl-nav.disabled,
  .owl-dots.disabled {
    display: none;
  }

  .owl-nav .owl-prev,
  .owl-nav .owl-next,
  .owl-dot {
    box-sizing: content-box;
    cursor: pointer;
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;
  }

  .owl-nav button.owl-prev,
  .owl-nav button.owl-next,
  button.owl-dot {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    padding: 0 !important;
  }

  &.owl-loaded {
    display: flex;
    flex-direction: column;
  }

  &.owl-loading {
    display: block;
    opacity: 0;
  }

  &.owl-hidden {
    opacity: 0;
  }

  &.owl-refresh .owl-item {
    visibility: hidden;
  }

  &.owl-drag .owl-item {
    touch-action: pan-y;
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;
  }

  &.owl-grab {
    cursor: move;
    cursor: grab;
  }

  &.owl-rtl {
    direction: rtl;
  }

  &.owl-rtl .owl-item {
    float: right;
  }
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}
