.ol-unsupported {
  display: none;
}

.ol-viewport .ol-unselectable {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
}

.ol-control {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.45);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.45);
}

.no-boxshadow .ol-control {
  border: 1px solid #c5c5c5;
}

.ol-control:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.ol-zoom {
  width: 2rem;
}

.ol-rotate {
  transition: opacity .25s;
}

.ol-rotate.ol-hidden {
  opacity: 0;
  transition: opacity .25s linear, visibility 0s linear .25s;
  visibility: hidden;
}
@media print {
  .ol-zoom,
  .ol-full-screen {
    display: none;
  }
}

.ol-control button {
  background-color: $white;
  border: 0;
  border-radius: 4px;
  color: #424242;
  color: rgba(66, 66, 66, 1);
  cursor: pointer;
  display: block;
  font-size: 1em;
  height: 2em;
  padding: 0;
  text-align: center;
  text-decoration: none;
  width: 2em;
}

.ol-control button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.ol-control button:hover {
  background-color: #424242;
  color: #eee;
  text-decoration: none;
}

button.ol-zoom-in {
  border-bottom: 1px solid #c5c5c5 !important;
  border-radius: 4px 4px 0 0;
}

button.ol-zoom-out {
  border-radius: 0 0 4px 4px;
}

.ol-control.ol-rotate button {
  background-color: transparent;
  border-radius: 0;
}

.ol-rotate.ol-control {
  background-color: transparent;
  box-shadow: none;
}

.ol-compass {
  background-size: 2em;
  display: block;
  font-family: Arial;
  font-weight: normal;
  height: 2em;
  width: 2em;
}

.ol-scale-line,
.ol-scale-line:not([ie8andbelow]) {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  display: inline-block;
  padding: 2px;
  position: relative;
}

.ol-scale-line-inner {
  border: 1px solid #424242;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: 'none';
  color: #424242;
  font-size: 10px;
  margin: 1px;
  padding: 0 2px;
  text-align: center;
}

.ol-scale-bar-inner {
  display: flex;
}

.ol-scale-singlebar-even{
  background-color: #000000;
}

.ol-scale-singlebar-odd{
  background-color: #FFFFFF;
}

/* invisible but not hidden */
.ol-has-tooltip [role=tooltip] {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* < IE8 */
  clip: rect(1px, 1px, 1px, 1px);
  font-size: 14px;
  font-weight: normal;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-shadow: 0 0 2px #fff;
  width: 1px;
}

.ol-attribution {
  bottom: .5em;
  max-width: calc(100% - 3.5em);
  padding: .35em 0;
  position: absolute;
  right: .5em;
  text-align: right;
  z-index: 30;
}

.ol-attribution ul {
  color: #fff;
  font-size: .7rem;
  line-height: 1.375em;
  margin: 0;
  max-width: 60%;
  padding: 0 .5em;
}

.ol-attribution li {
  display: inline;
  line-height: inherit;
  list-style: none;
}

.ol-attribution li:not(:last-child)::after {
  content: ' ';
}

.ol-attribution ul,
.ol-attribution button {
  display: inline;
}

.ol-attribution:not(.ol-collapsed) button:hover [role=tooltip],
.ol-attribution.ol-collapsed ul {
  display: none;
}

.ol-attribution.ol-logo-only ul {
  display: block;
}

.ol-attribution:not(.ol-collapsed) {
  background: transparent;
}

.ol-control.ol-attribution:not(.ol-collapsed) {
  box-shadow: none;
}

.ol-attribution:not(.ol-collapsed) button {
  background: transparent;
  color: #000;
}

.ol-attribution:not(.ol-collapsed) button:hover {
  background: #424242;
  color: #fff;
}

.ol-attribution.ol-collapsed button {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  color: #fff;
  height: 1.5em;
  width: 1.5em;
}

.ol-attribution.ol-uncollapsible {
  border-radius: 4px 0 0;
  bottom: 0;
  height: 1.1em;
  line-height: 1em;
  right: 0;
}

.ol-attribution.ol-logo-only {
  background: transparent;
  bottom: .4em;
  height: 1.1em;
  line-height: 1em;
}

.ol-attribution.ol-uncollapsible img {
  margin-top: -.2em;
  max-height: 1.6em;
}

.ol-attribution.ol-logo-only button,
.ol-attribution.ol-uncollapsible button {
  display: none;
}

/*workaround to remove ol logo until class for the logo*/
.ol-attribution img {
  display: none;
}

.ol-box {
  border: 2px solid $blue;
  border-radius: 2px;
  box-sizing: border-box;
}

.ol-dragzoom {
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #007aff;
  border-width: 3px;
}
&[class*=#{$media-l}] {
  .ol-scale-line,
  .ol-scale-line-inner {
    display: none;
  }

  .ol-attribution {
    max-width: calc(100% - 3.5em);
    padding: 0;
  }

  .ol-attribution ul {
    color: #000;
  }

  .ol-control.ol-attribution:not(.ol-collapsed) {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
  }

  .ol-control.ol-attribution.ol-collapsed {
    background-color: transparent;
    box-shadow: none;
  }

  .ol-attribution:not(.ol-collapsed) {
    background: rgba(255, 255, 255, 0.9);
  }

  .ol-attribution:not(.ol-collapsed) button {
    background: transparent;
    color: #000;
  }

  .ol-attribution.ol-collapsed button {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    color: #fff;
    height: 1.5em;
    width: 1.5em;
  }
}

&[class*=#{$media-l}] {
  .ol-attribution {
    bottom: 1rem;
    left: 1rem;
    right: auto;
  }
}
