
.owl-theme {
  // Styling Next and Prev buttons
  .owl-nav {
    margin-top: 10px;
    -webkit-tap-highlight-color: transparent;
    text-align: center;

    [class*='owl-'] {
      background: $nav-background;
      border-radius: 3px;
      color: $nav-color;
      cursor: pointer;
      display: inline-block;
      font-size: $nav-font-size;
      margin: $nav-margin;
      padding: $nav-padding;

      &:hover {
        background: $nav-background-hover;
        color: $nav-color-hover;
        text-decoration: none;
      }
    }

    .disabled {
      cursor: default;
      opacity: $nav-disabled-opacity;
    }
  }

  // Styling dots
  .owl-nav.disabled + .owl-dots {
    margin-top: 10px;
  }

  .owl-dots {
    -webkit-tap-highlight-color: transparent;
    text-align: center;

    .owl-dot {
      display: inline-block;
      *display: inline;
      zoom: 1;

      span {
        backface-visibility: visible;
        background: $dot-background;
        border-radius: $dot-rounded;
        display: block;
        height: $dot-height;
        margin: $dot-margin;
        transition: opacity 200ms ease;
        width: $dot-width;
      }

      &.active,
      &:hover {
        span {
          background: $dot-background-active;
        }
      }
    }
  }
}
