.o-text-center {
  text-align: center;
}
.o-text-right {
  text-align: right;
}
.o-text-left {
  text-align: left;
}
.o-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
